@import '../../../../theme/variables';


header > nav {
    height: $header-height;
    overflow: hidden;
    background-color: slategrey;
    background: rgba( 0, 0, 0, .8 );
}
header > nav > div > .d-flex {
    margin: 0 auto;
    max-width: $lg + 32px;
}
.big .main-menu {
    margin-left: 3em;
}
.big .menu {
    margin: 0 0 0 .2em;
    padding: .9em 0;
    @media ( min-width: $lg ) {

    margin-left: 1em;
    }
}
.active {
    color: yellow;
}

.big .item {
    padding: .4em 0 .1em;
}

