<header class="big">
    <nav class="navbar fixed-top px-0 py-0">
        <div class="">
            <div class="d-flex justify-content-between py-2 px-4 px-lg-0">


                    <div class="logo d-flex align-items-center fs-2rem white" (click)="onClickPanelMenu('intro')">
                       <i class="fa fa-comments" aria-hidden="true"></i> 굿톡화상영어
                    </div>
                    
                <ul class="list-style-none list-float-left d-flex align-items-center text-center pointers fs-120 white">

                    <li class="menu ml-3" [class.active]=" app.scrollId =='level-test' " (click)="onClickPanelMenu('level-test')">
                        <div class="text">레벨테스트</div>
                    </li>
                    <li class="menu ml-3" [class.active]=" app.scrollId =='curriculum' " (click)="onClickPanelMenu('curriculum')">
                        <div class="text">수업과정</div>
                    </li>
                    <li class="menu ml-3" [class.active]=" app.scrollId =='teacher' " (click)="onClickPanelMenu('teacher')">
                        <div class="text">영어선생님 </div>
                    </li>
                    <li class="menu ml-3" [class.active]=" app.scrollId =='comment' " (click)="onClickPanelMenu('comment')">
                        <div class="text">수업후기</div>
                    </li>
                    <li class="menu ml-3" [class.active]=" app.scrollId =='payment' " (click)="onClickPanelMenu('payment')">
                        <div class="text">수업료</div>
                    </li>

                    <li *ngIf=" user.logged " class="menu ml-3" [class.active]=" app.scrollId =='reservation' " (click)="onClickPanelMenu('reservation')">
                            <div class="text">나의수업</div>
                        </li>
                    <!--<li class="menu ml-3" [class.active]=" app.scrollId =='inquiry' " (click)="onClickPanelMenu('inquiry')">
                            <div class="text">질문답변</div>
                        </li>-->
                </ul>


                <div>
                    <ul class="list-style-none list-float-left d-flex align-items-center text-center pointers fs-80 white">
                        <li class="item mr-1" *ngIf=" app.isAdmin() " (click)="onClickRegister()">
                            <div class="text">관리자</div>
                        </li>
                        <li class="item mr-1" *ngIf="! user.logged " (click)="onClickRegister()">
                            <div class="text">회원가입</div>
                        </li>
                        <li class="item mr-1" *ngIf=" user.logged " (click)="onClickUpdateProfile()">
                            <div class="text">회원 정보</div>
                        </li>
                        <li class="item" *ngIf=" ! user.logged " (click)="onClickLogin()">
                            <div class="text">로그인</div>
                        </li>
                        <li class="item" *ngIf=" user.logged " (click)="onClickLogout()">
                            <div class="text">로그아웃</div>
                        </li>
                    </ul>
                    <span id="naver_id_login"></span>
                    <img (click)="app.onClickLoginWithKakao()" class="h-2" src="assets/img/kakao_btn_small.png" style="width: 28px; height: 28px;">
                    <img (click)="app.onClickLoginWithFacebook()" class="h-2" src="assets/img/kkang/f.png" style="width: 29px; height: 29px;">
<!--
                    <div class="d-none" id="naver_id_login"></div>
                    <img (click)="app.onClickLoginWithNaver()" class="h-2" src="assets/images/social-login/naver-3.png">
                    <img (click)="app.onClickLoginWithKakao()" class="h-2" src="assets/images/social-login/kakao-3.png">
                    <img (click)="app.onClickLoginWithFacebook()" class="h-2" src="assets/images/social-login/facebook-3.png">
                    -->

                </div>



            </div>

        </div>


    </nav>
</header>