@import '../../../../theme/variables';


header > nav > div > .d-flex {
    margin: 0 auto;
    max-width: $lg;
}
.item {
    color: #eee;
    small {
        color: #bbb;
    }
    &:hover {
        color: #fff;
        small { color: #eee; }
    }
    font-size: .9rem;
}
header .top img {
        width: 28px;
}
.bottom {
    .text {
        font-size: 1.2em;
    }
    small {
        font-size: 11px;
    }
}



// @import '../../../../theme/variables.scss';
// :host .big .navbar {
//     border-bottom: .1em solid #d7d7d7;
//     padding: 0;
//     .top {
//         border-top:.2em solid #006bb6;
//         border-bottom: .1em solid #d7d7d7;
//         background-color: #fff;
//         .menu {
//             padding:0 .5em;
//         }
//     }
//     .top .menu {
//         margin: 0 auto;
//         max-width: $lg_breakpoint;
//         width: 100%;  
//         .button {
//             padding:.5em;
//             display: inline-block;
//             font-size: .8em;
//             text-align: center;
//             span {
//                 display: block;
//                 font-weight: bold;
//             }
//             small {
//                 display: block;
//             }
//         }
//         .button:hover {
//             cursor: pointer;
//             color:#f15f4c;
//         }
//     }
//     .top .menu .left-menu {
//         padding: .5em;
//         width: 50%;
//         float: left;
//         span {
//             cursor:pointer;
//         }
//         img { width: 2rem; }
//     }
//     .top .menu .right-menu {
//         width: 50%;
//         display: inline-block;
//         text-align: right;
//     }
//     .bottom {
//         .bottom-container {
//             position: relative;
//             margin: 0 auto;
//             max-width: $lg_breakpoint;
//             width: 100%;  
//         }
//         position: relative;
//         background-color: white;
//         padding: .2em;
//         overflow: auto;
//         display: block;
//         .logo {
//             margin: 0;
//             width: 300px;
//             cursor: pointer;
//             img {
//                 margin: .5em;
//                 width: 100%;
//                 max-width: 15rem;
//                 height: 100%;
//             }
//         }
//     }
//     .panel {
//         position: absolute;
//         top:0;
//         right: 0;
//         padding: 0;
//         .menus {
//             display: inline-block;
//             margin: 0;
//             padding: .5em 0 0;
//             list-style: none;
//             .menu {
//                 float: left;
//                 border-radius: 2px;
//                 margin:.1em .3em;
//                 cursor:pointer;
//                 font-size: 1em;
//                 text-align: center;
//                 &:hover {
//                     color: #fde000;
//                 }
//                 &.active {
//                     color: #f15f4c;
//                 }
//                 span {
//                     display:block;
//                     font-size: .8em;
//                     font-weight: bold;
//                 }
//                 small {
//                     display:block;
//                 }
//             }
//         }
//     }
// }