<header class="big">
    <nav class="navbar fixed-top">
        <div class="logo" (click)="onClickPanelMenu('intro')" >
            <img src="assets/img/logo.png">
        </div>
        <div class="bottom">
            <div class="top-menu">
                <ul>
                    <li *ngIf="! user.logged" class="menu" (click)="onClickRegister()">Register</li>
                    <li *ngIf=" user.logged " class="menu" (click)="onClickUpdateProfile()">Profile</li>
                    
                    <li *ngIf=" ! user.logged " class="menu" (click)="onClickLogin()">Login</li>

                    <li *ngIf="user.logged" class="menu" (click)="onClickGotoClassRoom()">Class Room</li>

                    <li *ngIf=" user.logged " class="menu" (click)="onClickLogout()">
                        Logout
                    </li>
                    <li class="menu" (click)="onClickPanelMenu('contact')"> Help</li>
                </ul>
            </div>
            <div class="menus">
                <ul >
                    <!--
                    <li class="menu" [class.active]=" app.scrollId =='intro' " (click)="onClickPanelMenu('intro')">
                        
                        <span class="menu-img fa-stack">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-headphones fa-stack-1x fa-inverse fa-fw"></i>
                        </span>
                        <font>Home</font>
                    </li>
                    -->
                    <li class="menu" [class.active]=" app.scrollId =='curriculum' " (click)="onClickPanelMenu('curriculum')">
                        <!--<span class="menu-img"><i class="fa fa-book fa-fw"></i></span> <font>Courses</font>-->
                        <span class="menu-img fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-book fa-stack-1x fa-inverse fa-fw"></i>
                        </span> <font>Course</font>
                    </li>
                    <li class="menu" [class.active]=" app.scrollId =='teacher' " (click)="onClickPanelMenu('teacher')">
                        <span class="menu-img fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-user-circle-o fa-stack-1x fa-inverse fa-fw"></i>
                        </span> <font>Teacher</font>
                        <!--<span class="menu-img"><i class="fa fa-user-circle-o fa-fw"></i></span><font>Teachers</font>-->
                    </li>
                    <li class="menu" [class.active]=" app.scrollId =='payment' " (click)="onClickPanelMenu('payment')">
                        <span class="menu-img fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-money fa-stack-1x fa-inverse fa-fw"></i>
                        </span> <font>Payment</font>
                        <!--<span class="menu-img"><i class="fa fa-money fa-fw"></i></span><font>Payment</font>-->
                    </li>
                    <li class="menu" [class.active]=" app.scrollId =='level-test' " (click)="onClickPanelMenu('level-test')">
                        <span class="menu-img fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-video-camera fa-stack-1x fa-inverse fa-fw"></i>
                        </span> <font>LevelTest</font>
                        <!--<span class="menu-img"><i class="fa fa-video-camera fa-fw"></i></span><font>Level Test</font>-->
                    </li>
                    <li class="menu" [class.active]=" app.scrollId =='contact' " (click)="onClickPanelMenu('contact')">
                        <span class="menu-img fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-phone fa-stack-1x fa-inverse fa-fw"></i>
                        </span> <font>Contact</font>
                        <!--<span class="menu-img"><i class="fa fa-phone fa-fw"></i></span><font>Contact</font>-->
                    </li>
                    <li class="menu" [class.active]=" app.scrollId =='comment' " (click)="onClickPanelMenu('comment')">
                        <span class="menu-img fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-comments fa-stack-1x fa-inverse fa-fw"></i>
                        </span> <font>Comment</font>
                        <!--<span class="menu-img"><i class="fa fa-comments fa-fw"></i></span><font>Comment</font>-->
                    </li>
                    <li class="menu" [class.active]=" app.scrollId =='inquiry' " (click)="onClickPanelMenu('inquiry')">
                        <span class="menu-img fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-info-circle fa-stack-1x fa-inverse fa-fw"></i>
                        </span> <font>Inquiry</font>
                        <!--<span class="menu-img"><i class="fa fa-info-circle fa-fw"></i></span> <font>Inquiry</font>-->
                    </li>
                    <li class="menu" [class.active]=" app.scrollId =='reservation' " (click)="onClickPanelMenu('reservation')">
                        <span class="menu-img fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-calendar fa-stack-1x fa-inverse fa-fw"></i>
                        </span> <font>Class </font>
                        <!--<span class="menu-img"><i class="fa fa-calendar fa-fw"></i></span><font>Reservations </font>-->
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
