<div class="row py-3">
    <div class="col-sm-6 mb-3">
        <h5>My LMS Record</h5>
        <ul class="list-style-none">
            <li>ID: {{app.user.info.id}}</li>
            <li>My Member No.: {{data?.mb_id}}</li>
            <li>Name: {{app.user.info.name}}</li>
            <li>Reserve Session: {{data?.count_reservation}}</li>
            <li>Past Session: {{data?.count_past}}</li>
            <li>Next Session: {{data?.next_class}}</li>
            <li>My Level: {{ data?.level }}</li>
            <li>Current Book: {{ data?.book_info }}</li>
            <li>Phone Number: {{data?.phone_number}}</li>
            <li>Email: {{data?.email}}</li>
        </ul>

    </div>
    <div class="col-sm-6" *ngIf="data && data.latest_comments && data.latest_comments.length">
        <h5>Teacher Comment</h5>
        <ul class="list-style-none">
            <li *ngFor="let comment of data.latest_comments">
                <div>Teacher : {{comment.teacher.mb_nick}}</div>
                <div>Date: {{comment.kdate}} Duration: {{comment.mins}}</div>
                <div>Class begin: {{comment.class_begin}} ~ Class end: {{comment.class_end}}</div>
                <div>Comment : {{comment.rate_comment ? comment.rate_comment: "no comment yet"}}</div>
            </li>
        </ul>
    </div>
</div>
