<div class="header text">
        <i class="fa fa-flag"></i>
        <b>{{app.user.info.id}}</b>님의 수업 정보입니다.
    </div>


    <div class="p-5 bg-white" *ngIf=" loading ">
        <i class="fa fa-spinner fa-spin"></i> 수업 정보를 로드중입니다. 잠시만 기다려주세요.
    </div>
<div class="error p-5 bg-white red" [innerHTML]="error" *ngIf="!loading && error"></div>

<ng-container *ngIf=" !loading && !error ">

<div class="row py-3">
    <div class="col-sm-6 mb-3">
        <div class='lms-left text'>
            <div class="lms-desc">
                간략한 수업정보와 교재진도 내용을 확인하실 수 있습니다.
            </div>
                <ul class="list-style-none">
                    <li><span>로그인 아이디</span><i>{{app.user.info.id}}</i></li>
                    <li><span>이름</span><i>{{app.user.info.name}}</i></li>
                    <li><span>전화번호</span><i>{{data?.phone_number}}</i></li>
                    <li><span>이메일</span><i>{{data?.email}}</i></li>
                    <li><span>출석 횟수</span><i>{{data?.count_success}}</i></li>
                    <li><span>다음수업일</span><i>{{data?.next_class}}</i></li>
                    <li><span>종료수업일</span><i>{{data?.last_class}}</i></li>
                    <li><span>레벨</span><i>{{ data?.level }}</i></li>
                    <li><span>수업 교재</span><i>{{ data?.book_info }}</i></li>
                </ul>
        </div>

    </div>
    <div class="lms-right col-sm-6" *ngIf="data && data.latest_comments && data.latest_comments.length">
            <div class="lms-desc text">
                강의 평가<br>
                <b>{{app.user.info.id}}</b>님의 최근 수업에 대한 코멘트와 강의 평가입니다.
            </div>
        <ul class="list-style-none">
            <li *ngFor="let comment of data.latest_comments">
                <table>
                    <tr valign="top">
                        <td>
                            <div class="class-info">
                            <div class="photo"><img src="{{ comment.icon }}"></div>

                        </div>
                        </td>
                        <td>
                            <table>
                                    <tr>
                                            <td><div class="rate-title">표현</div></td>
                                            <td><div class="rate expression" [attr.rate]="comment.rate_expression">{{ comment.rate_expression }}0점</div></td>
                                    </tr>
                                    <tr>
                                            <td><div class="rate-title">어휘</div></td>
                                            <td><div class="rate vocabulary" [attr.rate]="comment.rate_vocabulary">{{ comment.rate_vocabulary }}0점</div></td>
                                    </tr>
                                    <tr>
                                            <td><div class="rate-title">문법</div></td>
                                            <td><div class="rate grammar" [attr.rate]="comment.rate_grammar">{{ comment.rate_grammar }}0점</div></td>
                                    </tr>
                                    <tr>
                                            <td><div class="rate-title">발음</div></td>
                                            <td><div class="rate pronounciation" [attr.rate]="comment.rate_pronounciation">{{ comment.rate_pronounciation }}0점</div></td>
                                    </tr>
                                    <tr>
                                            <td><div class="rate-title">속도</div></td>
                                            <td><div class="rate speed" [attr.rate]="comment.rate_speed">{{ comment.rate_speed }}0점</div></td>
                                    </tr>
                            </table>

                        </td>
                    </tr>
                    <tr>
                        <td><div class="text-center my-2">{{comment.teacher.mb_nick}}</div></td>
                        <td><div class="text-center my-2">날짜/시간: {{ shortDate(comment.kdate) }} {{comment.class_begin}} {{comment.mins}} 분</div></td>
                    </tr>
                </table>

                <div class="comment text mb-5">
                    <div class="p-3 pointer" (click)=" comment['show'] = true " *ngIf="!comment['show']">
                        <i class="fa fa-comments"></i> 코멘트 보기<i class="fa fa-ellipsis-h"></i>
                    </div>
                    <div class="p-3" *ngIf="comment['show']">{{comment.rate_comment ? comment.rate_comment: "코멘트가 없습니다."}}</div>
                </div>
            </li>
        </ul>
    </div>
</div>


</ng-container>
