.big .landing-content {

  .go-home {
    height: 10%;
    width: 20%;
    left: 20%;
  }

}

.small .landing-content {
  margin: 0 -30%;
  padding: 0;

  .go-home {
    height: 8%;
    width: 30%;
    left: 0;
  }

  .row {
    &.p-30 {
      padding: 0 17%;
    }
  }

}

