[submodule "src/enhance"]
	path = src/enhance
	url = https://github.com/thruthesky/enhance
[submodule "src/angular-backend-components"]
	path = src/angular-backend-components
	url = https://github.com/thruthesky/angular-backend-components
