<div class="register-modal">


  <div class="modal-header">

      <h5 class="modal-title">
        <span class="modal-title" *ngIf=" ! user.logged ">Register</span>
        <span class="modal-title" *ngIf="   user.logged ">Profile Update</span>        
      </h5>
      <button type="button" class="close" aria-hidden="true" (click)="onClickDismiss()">
        <span aria-hidden="true">×</span>
      </button>
      
  </div>
  
    <div class="modal-body">
      <div class="form-container"> 
        <form [formGroup]="form" novalidate>
            <div>
            <p class="form-title" *ngIf=" ! user.logged ">Please Signup.</p>
            <p class="form-title" *ngIf="   user.logged ">Update Profile.</p>            
            </div>
            
            <div class="form_image" *ngIf=" primary_photo_idx ">
                <span (click)="onClickDeletePhoto()" class="fa-stack fa-lg pointer" style="position: absolute; right: .6em; bottom: .6em;">
                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                    <i class="fa fa-trash fa-stack-1x"></i>
                </span>
                <img src="{{ file.url( primary_photo_idx ) }}">
                
            </div>
            <div div class="input-group">
                <input class="form-control-file" #userfile type="file" (change)="onChangeFileUpload( userfile )">
            </div>
            <div class="input-group"  *ngIf=" ! user.logged ">
                <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                <input formControlName="id" name="id" type="text" class="form-control form-control-sm" placeholder="User ID" (keydown)="onEnterRegister($event)">
            </div>
            <div *ngIf="formErrors.id" class="alert alert-danger">
                <span class="errors"> {{ formErrors.id }} </span>
            </div>
            <div class="row user-id" *ngIf=" user.logged ">
                {{ user.info.id }}
            </div>
            
            <div class="input-group" *ngIf=" ! user.logged ">
                <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
                <input formControlName="password" name="password" type="password" class="form-control form-control-sm" id="password" placeholder="Password" (keydown)="onEnterRegister($event)">
            </div>
            <div *ngIf="formErrors.password" class="alert alert-danger">
                <span class="errors"> {{ formErrors.password }} </span>
            </div> 
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user-circle-o fa-fw"></i></span>
                <input formControlName="name" name="name" type="text" class="form-control form-control-sm" placeholder="Name" (keydown)="onEnterRegister($event)">
            </div>
            <div *ngIf="formErrors.name" class="alert alert-danger">
                <span class="errors"> {{ formErrors.name }} </span>
            </div>   
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user-circle fa-fw"></i></span>
                <input formControlName="email" name="email" type="email" class="form-control form-control-sm" placeholder="Email" (keydown)="onEnterRegister($event)">
            </div>
            <div *ngIf="formErrors.email" class="alert alert-danger">
                <span class="errors"> {{ formErrors.email }} </span>
            </div>   
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-vcard fa-fw"></i></span>
                <input formControlName="nickname" name="nickname" type="text" class="form-control form-control-sm" placeholder="Nickname" (keydown)="onEnterRegister($event)">
            </div>
            <div *ngIf="formErrors.nickname" class="alert alert-danger">
                <span class="errors"> {{ formErrors.nickname }} </span>
            </div>   

            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-mobile fa-fw"></i></span>
                <input formControlName="mobile" name="mobile" type="text" class="form-control form-control-sm" placeholder="Mobile" (keydown)="onEnterRegister($event)">
            </div>
            
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
                <input formControlName="birthday" name="birthday" type="date" class="birthday" (keydown)="onEnterRegister($event)">
            </div>


            <div class="error alert alert-danger" role="alert" *ngIf="result.message">
                <button type="button" class="close" (click)="result.message=null">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ result?.message }}
            </div>
            
            <div class="row">
            
              <div class="col-md-12 register" >
                <button *ngIf=" ! user?.logged " type="button" class="btn btn-primary btn-sm form-control" (click)="onClickRegister()">
                    <i *ngIf="loading" class='fa fa-spinner fa-spin'></i>
                    Register
                    </button>
                <button *ngIf=" user?.logged " type="button" class="control btn btn-info btn-sm form-control" (click)="onClickUpdate()">Update</button>
                <button *ngIf=" user?.logged " type="button" class="control btn btn-primary btn-sm form-control" (click)="onClickChangePasswordr()">Change Password</button>
              </div>
            </div>
            
        </form>
      </div> 
    </div>

</div>
