<div class="register-modal">


  <div class="modal-header" style="border-top: 2.5rem solid #4b5d6f;">

      <h5 class="modal-title">
        <span class="modal-title" *ngIf=" ! user.logged ">회원 가입</span>
        <span class="modal-title" *ngIf=" user.logged ">회원 정보 변경</span>        
      </h5>
      <button type="button" class="close" aria-hidden="true" (click)="onClickDismiss()">
        <span aria-hidden="true">×</span>
      </button>
      
  </div>
  
    <div class="modal-body">
      <div class="form-container"> 
        <form [formGroup]="form" novalidate>

            <div>
            <p class="form-title" *ngIf=" ! user.logged ">Please Signup.</p>
            <p class="form-title" *ngIf="   user.logged ">Update Profile.</p>            
            </div>
            
            <div class="form-group form_image " *ngIf=" user.logged ">
                <span class="fa-stack fa-lg" style="position: absolute; left: 1rem; bottom: .6rem;">
                    <i class="fa fa-circle fa-stack-2x" style="color:#000"></i>
                    <i class="fa fa-camera fa-stack-1x text-white"></i>
                </span>
                <span *ngIf="primary_photo_idx" (click)="onClickDeletePhoto()" class="fa-stack fa-lg" style="position: absolute; left: 4rem; bottom: .6rem; z-index:101">
                    <i class="fa fa-circle fa-stack-2x" style="color:#000"></i>
                    <i class="fa fa-trash fa-stack-1x text-white"></i>
                </span>
                <img *ngIf="primary_photo_idx" src="{{ file.url( primary_photo_idx ) }}">
                <img *ngIf="!primary_photo_idx" src="{{ app.config.user_profile }}">
                <div class="p-absolute t-0 l-0 w-100 h-100" style="z-index:100; font-size: 10rem; opacity: .001">
                    <input class="w-100 h-100" #userfile type="file" (change)="onChangeFileUpload( userfile )">
                </div>
            </div>

            <div class="input-group" *ngIf=" ! user.logged ">
                <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
                <input formControlName="id" name="id" type="text" class="form-control form-control-sm" placeholder="회원 아이디" (keydown)="onEnterRegister($event)">
            </div>
            <small *ngIf=" ! user.logged " class="form-text text-muted">회원 아이디를 입력하세요.</small>


            <div *ngIf="formErrors.id" class="alert alert-danger">
                <span class="errors"> {{ formErrors.id }} </span>
            </div>

            <div class="row user-id pt-4" *ngIf=" user.logged ">
               회원아이디 : {{ getUserId( user.info.id ) }}
            </div>
            
            <div class="input-group" *ngIf=" ! user.logged ">
                <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                <input formControlName="password" name="password" type="password" class="form-control form-control-sm" id="password" placeholder="비밀번호" (keydown)="onEnterRegister($event)">
            </div>
            <small *ngIf=" ! user.logged " class="form-text text-muted">비밀번호를 입력하세요.</small>
            <div *ngIf="formErrors.password" class="alert alert-danger">
                <span class="errors"> {{ formErrors.password }} </span>
            </div>
            


            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user-circle-o fa-fw"></i></span>
                <input formControlName="name" name="name" type="text" class="form-control form-control-sm" placeholder="이름" (keydown)="onEnterRegister($event)">
            </div>
            <small class="form-text text-muted">이름을 입력하세요.</small>
            <div *ngIf="formErrors.name" class="alert alert-danger">
                <span class="errors"> {{ formErrors.name }} </span>
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-at fa-fw"></i></span>
                <input formControlName="email" name="email" type="email" class="form-control form-control-sm" placeholder="이메일" (keydown)="onEnterRegister($event)">
            </div>
            <small class="form-text text-muted">이메일을 입력하세요.</small>
            <div *ngIf="formErrors.email" class="alert alert-danger">
                <span class="errors"> {{ formErrors.email }} </span>
            </div>   
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-vcard fa-fw"></i></span>
                <input formControlName="nickname" name="nickname" type="text" class="form-control form-control-sm" placeholder="영어 닉네임" (keydown)="onEnterRegister($event)">
            </div>
            <small class="form-text text-muted">닉네임을 입력하세요. 잠깐! 닉네임은 영어로 입력하세요.</small>
            <div *ngIf="formErrors.nickname" class="alert alert-danger">
                <span class="errors"> {{ formErrors.nickname }} </span>
            </div>   

            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-phone fa-fw"></i></span>
                <input formControlName="mobile" name="mobile" type="text" class="form-control form-control-sm" placeholder="전화번호" (keydown)="onEnterRegister($event)">
            </div>
            <small class="form-text text-muted">전화번호를 입력하세요. 숫자만 입력 가능.</small>
            
            <!--<div class="input-group">
                <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
                <input formControlName="birthday" name="birthday" type="date" class="birthday" (keydown)="onEnterRegister($event)">
            </div>-->


            <!--<div class="input-group">
                <span class="input-group-addon"><i class="fa fa-venus-mars fa-fw"></i></span>
                <select class="custom-select form-control" formControlName="gender" name="gender" (keydown)="onEnterRegister($event)">
                    <option value="">Select Gender</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                    
                </select>
            </div>-->
            

            <div class="error alert alert-danger" role="alert" *ngIf="result.message">
                <button type="button" class="close" (click)="result.message=null">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ result?.message }}
            </div>
            
            <div class="row">
            
              <div class="col-md-12 register" >
                <button *ngIf=" ! user?.logged " type="button"
                    class="btn btn-secondary btn-block rounded-0 py-3 white"
                    style="background-color: #8fa3ad;"
                    (click)="onClickRegister()">
                    <i *ngIf="loading" class='fa fa-spinner fa-spin'></i>
                    회원 가입
                    </button>
                <button *ngIf=" user?.logged " type="button"
                class="btn btn-secondary btn-block rounded-0 py-3 white"
                    style="background-color: #8fa3ad;"
                (click)="onClickUpdate()">회원 정보 수정</button>
                <button *ngIf=" user?.logged " type="button"
                class="btn btn-block rounded-0 py-3 slategrey"
                style="background-color: transparent;"
                (click)="onClickChangePassword()">비밀번호 변경하기</button>
              </div>
            </div>
            
        </form>
      </div> 
    </div>

</div>
