<div class="register-modal">


  <div class="modal-header">

      <h5 class="modal-title">
        <font class="modal-title" *ngIf=" ! user.logged ">Register</font>
        <font class="modal-title" *ngIf="   user.logged ">Profile Update</font>        
      </h5>
      <button type="button" class="close" aria-hidden="true" (click)="onClickDismiss()">
        <span aria-hidden="true">×</span>
      </button>
      
  </div>
  
    <div class="modal-body">
      <div class="form-container"> 
        <form>
            <div>
            <p class="form-title" *ngIf=" ! user.logged ">Please Signup.</p>
            <p class="form-title" *ngIf="   user.logged ">Update Profile.</p>            
            </div>
            <div class="input-group"  *ngIf=" ! user.logged ">
                <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                <input [(ngModel)]="form.id" name="id" type="text" class="form-control form-control-sm" placeholder="User ID" (keydown)="onEnterRegister($event)">
            </div>
            
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user-circle-o fa-fw"></i></span>
                <input [(ngModel)]="form.name" name="name" type="text" class="form-control form-control-sm" placeholder="Name" (keydown)="onEnterRegister($event)">
            </div>

            <div class="input-group" *ngIf=" ! user.logged ">
                <span class="input-group-addon"><i class="fa fa-user-circle fa-fw"></i></span>
                <input [(ngModel)]="form.email" name="email" type="email" class="form-control form-control-sm" placeholder="Email" (keydown)="onEnterRegister($event)">
            </div>

            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-vcard fa-fw"></i></span>
                <input [(ngModel)]="form.nickname" name="nickname" type="text" class="form-control form-control-sm" placeholder="Nickname" (keydown)="onEnterRegister($event)">
            </div>

            <div class="input-group" *ngIf=" ! user.logged ">
                <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
                <input [(ngModel)]="form.password" name="password" type="password" class="form-control form-control-sm" id="password" placeholder="Password" (keydown)="onEnterRegister($event)">
            </div>

            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-mobile fa-fw"></i></span>
                <input [(ngModel)]="form.mobile" name="mobile" type="text" class="form-control form-control-sm" placeholder="Mobile" (keydown)="onEnterRegister($event)">
            </div>
            
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
                <input [(ngModel)]="form.birthday" name="birthday" type="date" class="birthday" (keydown)="onEnterRegister($event)">
            </div>

            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-venus-mars fa-fw"></i></span>
                <select class="custom-select form-control" [(ngModel)]="form.gender" name="gender" (keydown)="onEnterRegister($event)">
                    <option value="">Select Gender</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                    
                </select>
            </div>

            <div class="error alert alert-danger" role="alert" *ngIf="result.message">
                <button type="button" class="close" (click)="result.message=null">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ result?.message }}
            </div>
            
            <div class="row">
            
              <div class="col-md-12 register" >
                <button *ngIf=" ! user.logged " type="button" class="btn btn-primary btn-sm form-control" (click)="onClickRegister()">
                    <i *ngIf="loading" class='fa fa-spinner fa-spin'></i>
                    Register
                    </button>
                <button *ngIf=" user.logged " type="button" class="control btn btn-primary btn-sm form-control" (click)="onClickUpdate()">Update</button>
              </div>
            </div>
            
        </form>
      </div> 
    </div>

</div>
