<section id="chat-component">


    <div class="chat max" *ngIf="max">


        <div class="title">
            라이브 챗 : 무엇이든 물어보세요.

            <div class="closer" (click)="onClickMinimize()">
                <i class="fa fa-times pointer"  aria-hidden="true"></i>
            </div>
        </div>



            <div class="messages h-20">
                <ul class="list-style-none p-3">
                    <li class="message d-flex talkbubble {{ m.user == uid  ? 'justify-content-end bubble-right': 'bubble-left'  }}" *ngFor="let m of user_message | async">
                        <span class="text d-block" [ngClass]="{'bg-white': m.user != uid, 'bg-yellow': m.user == uid } ">{{ m.user != uid ? "Admin : " : "" }}{{ m.message }}</span>
                    </li>
                </ul>
            </div>



            <div class="input">
                <form (ngSubmit)="onSubmitMessage()">
                    <table width="100%" cellpadding="0" cellpadding="0">
                        <tr>
                            <td width="1%">
                                <span class="fa-stack fa-lg pointer" (click)="onClickMinimize()">
                                    <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
                                    <i class="fa fa-times fa-stack-1x fa-inverse" aria-hidden="true"></i>
                                </span>
                            </td>
                            <td width="98%"><div><input name="message" [(ngModel)]="form.message"></div></td>
                            <td width="1%"><i class="fa fa-mail-forward pointer" aria-hidden="true" (click)="onSubmitMessage()"></i></td>
                        </tr>
                    </table>
                </form>
            </div>


        </div>


    <div class="min" *ngIf="min">
        <div class="p-3 bg-lightgrey pointer" (click)="onClickMaximize()">
            <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
                    <i class="fa fa-arrow-left fa-stack-1x fa-inverse" aria-hidden="true"></i>
                </span> 라이브 챗 : 무엇이든 물어보세요.
        </div>
    </div>

</section>
