<section id="chat-component">


    <div class="chat max p-2 bg-lightgrey" *ngIf="max">


        <div class="opener">
            질문하기 Live chat
        </div>
        <div class="closer">
            무엇이든 물어보세요. 닫기[x]
        </div>


        <div>
            <div class="message">
                <ul>
                    <li *ngFor="let item of user_message | async">
                        <span>{{ item.name ? item.name : item.user }}</span> : {{ item.message }}
                    </li>
                </ul>
            </div>
            <div class="input">
                <form (ngSubmit)="onSubmitMessage()">
                    <span class="fa-stack fa-lg" (click)="onClickMinimize()">
                    <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
                    <i class="fa fa-times fa-stack-1x fa-inverse" aria-hidden="true"></i>
                </span>
                    <input name="message" [(ngModel)]="form.message">
                    <i class="fa fa-mail-forward" aria-hidden="true"></i>
                </form>
            </div>
        </div>
    </div>

    <div class="min" *ngIf="min">
        <div class="p-3 bg-lightgrey">
            <span class="fa-stack fa-lg" (click)="onClickMaximize()">
                    <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
                    <i class="fa fa-arrow-left fa-stack-1x fa-inverse" aria-hidden="true"></i>
                </span>

            질문하기: 무엇이든 물어보세요.
        </div>
    </div>

</section>
