
<div *ngIf=" ! showPostEditForm " class="card post">
  <div class="card-block">
    <table>
      <tr>
        <td width="1%">
          <img *ngIf=" post.user.url_primary_photo " src="{{ post.user.url_primary_photo }}"
          style=" width: 40px; height: 40px; border-radius: 50%; ">
        </td>
        <td>
          <h4 class="card-title">{{ post.title }}</h4>
          <h6 class="card-subtitle mb-2 text-muted">{{ post.idx }}, {{ post.user?.name }}</h6>
        </td>
      </tr>
    </table>
      <p class="card-text">{{ post.content }}</p>

      <div class="files clearfix" *ngIf=" post.files ">
        <div class="w-25 float-left" *ngFor=" let file of post.files ">
          <img [src]=" file.url + '&crop=200x100x70'" style="width: 100%;">
        </div>
      </div>
    
    <span class="card-link" (click)=" showPostEditForm = !showPostEditForm ">Edit</span>
    <span class="card-link" (click)=" showCommentForm = !showCommentForm ">Reply</span>
    <span class="card-link">Like</span>
    <span class="card-link">Report</span>
  </div>
</div>
