:host {
    input[type=file], /* FF, IE7+, chrome (except button) */
    input[type=file]::-webkit-file-upload-button { /* chromes and blink button */
        cursor: pointer;
        display:block;
        width:100%;
        height: 100%;
        max-width:15rem;
    }
}