<div class="forum-post-modal">
  <div class="modal-header">

    <h5 class="modal-title">
      <span class="modal-title">수업 후기 작성</span>
    </h5>
    <button type="button" class="close" aria-hidden="true" (click)="onClickDismiss()">
      <span aria-hidden="true">×</span>
    </button>

  </div>

  <div class="modal-body">
    <div class="form-container">
      <form  (ngSubmit)="onClickSubmit()" novalidate>
        <div class="p-relative form-group form_image my-0 mx-auto rounded-circle of-hidden" style="width:7rem; height:7rem">
              <img class="my-0 mx-auto d-block p-relative w-100 h-auto" style="min-width:7rem; min-height:7rem" src="{{ lms.url }}/{{ teacher.photo }}">
        </div>
        <div   class="mt-2 text-center grey">{{teacher.nickname}}</div>
        <div class="input-group my-3">
          <textarea name="content" class="form-control form-control-sm" id="content" placeholder="수업 후기를 작성해 주세요." rows="3"></textarea>
        </div>
        <div class="row mt-2">
          <div class="col-md-12 post" >
            <button type="button" class="center input-group btn form-control pointer btn-block white d-block" style="background-color: #8fa3ad;" (click)="onClickSubmit()">
              <i class="fa fa-spinner fa-spin"></i> 등록
            </button>
          </div>
          <div class="col-md-12 post pointers" >
            RATING : {{rate}}
            <span *ngIf="rate < 1" (click)="rate=1"><i class="fa fa-star-o"></i></span>
            <span *ngIf="rate >= 1" (click)="rate=1"><i class="fa fa-star"></i></span>

            <span *ngIf="rate < 2" (click)="rate=2"><i class="fa fa-star-o"></i></span>
            <span *ngIf="rate >= 2" (click)="rate=2"><i class="fa fa-star"></i></span>

            <span *ngIf="rate < 3" (click)="rate=3"><i class="fa fa-star-o"></i></span>
            <span *ngIf="rate >= 3" (click)="rate=3"><i class="fa fa-star"></i></span>

            <span *ngIf="rate < 4" (click)="rate=4"><i class="fa fa-star-o"></i></span>
            <span *ngIf="rate >= 4" (click)="rate=4"><i class="fa fa-star"></i></span>

            <span *ngIf="rate < 5" (click)="rate=5"><i class="fa fa-star-o"></i></span>
            <span *ngIf="rate >= 5" (click)="rate=5"><i class="fa fa-star"></i></span>
          </div>
        </div>
        <hr/>
      </form>
    </div>

  </div>
</div>
