<header class="big">
    <nav class="navbar fixed-top">
        <div class="top">
            
            <div class="menu">
                <div class="left-menu">
                    <span> <img src="assets/img/kkang/f.png"> </span>
                    <span> <img src="assets/img/kkang/k.png"> </span>
                    <span> <img src="assets/img/kkang/b.png"> </span>
                    <font class="p-2 fs-130">
                        무료 레벨 테스트
                    </font>
                </div>
                
                <div class="right-menu">
                    <div class="button" *ngIf="! user.logged " (click)="onClickRegister()">
                        <span class="text">회원 가입</span><small>Register</small>
                    </div>
                    <div class="button" *ngIf=" ! user.logged " (click)="onClickLogin()">
                        <span class="text">회원 로그인</span><small>Login</small>
                    </div>
                    <div class="button" *ngIf=" user.logged " (click)="onClickUpdateProfile()">
                        <span class="text">회원 정보 변경</span><small>Profile Update</small>
                    </div>
                    <div class="button" *ngIf=" user.logged " (click)="onClickLogout()">
                        <span class="text">회원 로그아웃</span><small>Logout</small>
                    </div>
                    <!--<div *ngIf="! user.logged " class="button" (click)="onClickRegister()">
                        <span> <img src="assets/img/kkang/top-btn1.png"> </span>
                    </div>
                    <div *ngIf=" ! user.logged " class="button" (click)="onClickLogin()">
                        <span> <img src="assets/img/kkang/top-btn2.png"> </span>
                    </div>
                    <div *ngIf=" user.logged " class="button" (click)="onClickUpdateProfile()">
                        <span> <img src="assets/img/kkang/top-btn3.png"> </span>
                    </div>
                    <div *ngIf=" user.logged " class="button" (click)="onClickLogout()">
                        <span> <img src="assets/img/kkang/top-btn1.png"> </span>
                    </div>
                    <div class="button" (click)="onClickPanelMenu('contact')"> 
                        <span> <img src="assets/img/kkang/top-btn3.png"> </span>
                    </div>-->
                    
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="bottom-container">
                <div class="logo" (click)="onClickPanelMenu('intro')">
                    <img src="assets/img/logo-1.png">
                </div>
                <div class="panel" [class.active]="this.more">
                    <ul class="menus">
                        <li class="menu" [class.active]=" app.scrollId =='curriculum' " (click)="onClickPanelMenu('curriculum')">
                            <span class="text">수업 과정</span>
                            <small>Curriculum</small>
                        </li>
                        <li class="menu" [class.active]=" app.scrollId =='teacher' " (click)="onClickPanelMenu('teacher')">
                            <span class="text">영어 선생님 소개</span>
                            <small>English Teachers</small>
                        </li>
                        <li class="menu" [class.active]=" app.scrollId =='level-test' " (click)="onClickPanelMenu('level-test')">
                            <span class="text">무료 레벨테스트</span>
                            <small>Level Test</small>
                        </li>
                        <li class="menu" [class.active]=" app.scrollId =='comment' " (click)="onClickPanelMenu('comment')">
                            <span class="text">수업 후기</span>
                            <small>Comments</small>
                        </li>
                        <li class="menu" [class.active]=" app.scrollId =='reservation' " (click)="onClickPanelMenu('reservation')">
                            <span class="text">나의 수업 확인</span>
                            <small>Reservations</small>
                        </li>
                        <li class="menu" [class.active]=" app.scrollId =='payment' " (click)="onClickPanelMenu('payment')">
                            <span class="text">수업료</span>
                            <small>Fees</small>
                        </li>
                        <li class="menu" [class.active]=" app.scrollId =='inquiry' " (click)="onClickPanelMenu('inquiry')">
                            <span class="text">질문과 답변</span>
                            <small>Forum</small>
                        </li>
                        <li class="menu" [class.active]=" app.scrollId =='contact' " (click)="onClickPanelMenu('contact')">
                            <span class="text">연락처</span>
                            <small>Contacts</small>
                        </li>

                        <!--*******************************
                        <li class="menu" [class.active]=" app.scrollId =='curriculum' " (click)="onClickPanelMenu('curriculum')">
                            <span class="text">수업 과정</span>
                            <small>Curriculum</small>
                        </li>
                        <li class="menu" [class.active]=" app.scrollId =='teacher' " (click)="onClickPanelMenu('teacher')">
                            <span class="text">영어 선생님 소개</span>
                            <small>English Teachers</small>
                        </li>
                        <li class="menu" [class.active]=" app.scrollId =='level-test' " (click)="onClickPanelMenu('level-test')">
                            <span class="text">무료 레벨테스트</span>
                            <small>Level Test</small>
                        </li>
                        <li class="menu" [class.active]=" app.scrollId =='comment' " (click)="onClickPanelMenu('comment')">
                            <span class="text">수업 후기</span>
                            <small>Student Comments</small>
                        </li>
                        <li class="menu" [class.active]=" app.scrollId =='reservation' " (click)="onClickPanelMenu('reservation')">
                            <span class="text">나의 수업 확인</span>
                            <small>My Reservations</small>
                        </li>
                        <li class="menu" [class.active]=" app.scrollId =='payment' " (click)="onClickPanelMenu('payment')">
                            <span class="text">수업료</span>
                            <small>Tution Fees</small>
                        </li>
                        <li class="menu" [class.active]=" app.scrollId =='inquiry' " (click)="onClickPanelMenu('inquiry')">
                            <span class="text">질문과 답변</span>
                            <small>Q&amp;A Forum</small>
                        </li>
                        <li class="menu" [class.active]=" app.scrollId =='contact' " (click)="onClickPanelMenu('contact')">
                            <span class="text">연락처</span>
                            <small>Contacts</small>
                        </li>
                        
                        
                        ***********************************-->
                        <!--<li class="menu" [class.active]=" app.scrollId =='curriculum' " (click)="onClickPanelMenu('curriculum')">
                            <span> <img src="assets/img/kkang/bot-btn1.png"> </span>
                        </li>
                        <li class="menu" [class.active]=" app.scrollId =='teacher' " (click)="onClickPanelMenu('teacher')">
                            <span> <img src="assets/img/kkang/bot-btn2.png"> </span>
                        </li>
                        <li class="menu" [class.active]=" app.scrollId =='payment' " (click)="onClickPanelMenu('payment')">
                            <span> <img src="assets/img/kkang/bot-btn3.png"> </span>
                        </li>
                        <li class="menu" [class.active]=" app.scrollId =='level-test' " (click)="onClickPanelMenu('level-test')">
                            <span> <img src="assets/img/kkang/bot-btn4.png"> </span>
                        </li>
                        <li class="menu" [class.active]=" app.scrollId =='contact' " (click)="onClickPanelMenu('contact')">
                            <span> <img src="assets/img/kkang/bot-btn5.png"> </span>
                        </li>
                        <li class="menu" [class.active]=" app.scrollId =='comment' " (click)="onClickPanelMenu('comment')">
                            <span> <img src="assets/img/kkang/bot-btn1.png"> </span>
                        </li>
                        <li class="menu" [class.active]=" app.scrollId =='inquiry' " (click)="onClickPanelMenu('inquiry')">
                            <span> <img src="assets/img/kkang/bot-btn2.png"> </span>
                        </li>
                        <li class="menu" [class.active]=" app.scrollId =='reservation' " (click)="onClickPanelMenu('reservation')">
                            <span> <img src="assets/img/kkang/bot-btn3.png"> </span>
                        </li>-->
                    </ul>
                    <!--<ul class="menus">
                        <li class="menu" [class.active]=" app.scrollId =='curriculum' " (click)="onClickPanelMenu('curriculum')">
                            <span class="text">Course</span>
                        </li>
                        <li class="menu" [class.active]=" app.scrollId =='teacher' " (click)="onClickPanelMenu('teacher')">
                            <span class="text">Teacher</span>
                        </li>
                        <li class="menu" [class.active]=" app.scrollId =='payment' " (click)="onClickPanelMenu('payment')">
                            <span class="text">Payment</span>
                        </li>
                        <li class="menu" [class.active]=" app.scrollId =='level-test' " (click)="onClickPanelMenu('level-test')">
                            <span class="text">LevelTest</span>
                        </li>
                        <li class="menu" [class.active]=" app.scrollId =='contact' " (click)="onClickPanelMenu('contact')">
                            <span class="text">Contact</span>
                        </li>
                        <li class="menu" [class.active]=" app.scrollId =='comment' " (click)="onClickPanelMenu('comment')">
                            <span class="text">Comment</span>
                        </li>
                        <li class="menu" [class.active]=" app.scrollId =='inquiry' " (click)="onClickPanelMenu('inquiry')">
                            <span class="text">Inquiry</span>
                        </li>
                        <li class="menu" [class.active]=" app.scrollId =='reservation' " (click)="onClickPanelMenu('reservation')">
                            <span class="text">Class</span>
                        </li>
                    </ul>-->
                </div>
            </div>
        </div>
    </nav>
</header>
