<div class="forum-view-modal">
    <div class="modal-header">
        <h5 class="modal-title">
            <span class="modal-title">질문과 답변 게시판</span>
        </h5>
        <button type="button" class="close" aria-hidden="true" (click)="onClickDismiss()">
            <span aria-hidden="true">×</span>
        </button>

    </div>

    <div class="modal-body">
        <div class="form-container">
                <form *ngIf="post">
                    <div class="files clearfix" *ngIf=" post.files && post.files.length > 0 ">
                        <span class="info-title">
                            사진
                        </span>
                        <div class="w-25 float-left" *ngFor=" let file of post.files ">
                        <img  [ngbPopover]="popContent" #p="ngbPopover" style="width: 100%" src="{{ file.url + '&crop=100x100x70' }}">
                        <ng-template #popContent  >
                            <div (click)="p.close()">
                            <div class="popover-content">
                                <div class="popover-text">
                                    <img style="max-width:100%" src="{{ file.url }}">
                                </div>
                            </div>
                            </div>
                            
                        </ng-template>
                        </div>
                    </div>
                    <div *ngIf="post.title">
                        <span class="info-title">
                            제목
                        </span>
                        <div class="info-content"> {{ post.title }} </div>
                    </div>
                    <div *ngIf="post.name" class="info-block">
                        <span class="info-title">
                            작성자
                        </span>
                        <div class="info-content"> {{ post.name }} </div>
                    </div>
                    <div *ngIf="post.created" class="info-block">
                        <span class="info-title">
                            날짜
                        </span>
                        <div class="info-content"> {{ post.created }} </div>
                    </div>
                    <div *ngIf="post.content">
                        <span class="info-title">
                            제목
                        </span>
                        <div class="info-content"> {{ post.content }} </div>
                    </div>
                </form>
            </div>

    </div>
</div>