
:host {
    /deep/.popover {
        width: 100%;
        max-width: none;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        right: 0;
        background-color: white;
        top: 50% !important;
        margin-top: -200px !important;
        left: 0 !important;
        background-color: rgba(100, 100, 100, 0.3);
    }
    /deep/.popover::before {
        display: none;
    }
    /deep/.popover::after {
        display: none;
    }
    .modal-header {
        color: #fff;
        background-color: #deb888;
        .modal-title {
            line-height: 1.428571429;
        }
    }
    
    .modal-body {
      .form-container {
        
        margin-left: auto;
        margin-right: auto;
        border: solid 1px #eee;
        padding: 1em;
        color: #fff;
        background-color: #4b5d6f;
        box-shadow: 0 0 3px #eee;
        .info-block {
            margin-bottom: .5em;
        }
        .info-title {
            display: block;
            margin-bottom: .5em;
        }
        .info-content {
            background-color: #fff;
            color:#000;
            padding: .3em;
        }
      }
    }
}
