<div class="forum-view-modal">
    <div class="modal-header">
        <h5 class="modal-title">
            <span class="modal-title">질문과 답변 게시판</span>
        </h5>
        <button type="button" class="close" aria-hidden="true" (click)="onClickDismiss()">
            <span aria-hidden="true">×</span>
        </button>

    </div>

    <div class="modal-body">

        <div *ngIf="post">
            <div class="files clearfix" *ngIf=" post.files && post.files.length > 0 ">
                <span class="info-title">
                            사진
                        </span>
                <div class="w-25 float-left" *ngFor=" let file of post.files ">
                    <img [ngbPopover]="popContent" #p="ngbPopover" style="width: 100%" src="{{ file.url + '&crop=100x100x70' }}">
                    <ng-template #popContent>
                        <div (click)="p.close()">
                            <div class="popover-content">
                                <div class="popover-text">
                                    <img style="max-width:100%" src="{{ file.url }}">
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>


            <div *ngIf="post.title" class="title bold">{{ post.title }} </div>

            <div class="post-info text-right mb-4">
                <span class="name">{{ post.name }}</span>
                <span class="created">- {{ post.created }}</span>
            </div>



            <div *ngIf="post.content">
                <div class="info-content p-3"> {{ post.content }} </div>
            </div>
        </div>


        <div *ngIf=" app.user.admin && mode!='reply'" class="mt-3" (click)=" mode = 'reply' ">
           
                <i class="fa fa-pencil"></i>
                
            코멘트 작성
        </div>


        <section *ngIf="mode=='reply'" class="">
            <h5 class="mt-4">코멘트 작성</h5>
            <form>
                <div class="form-group">
                    <label for="content-box">내용</label>
                    <textarea id="content-box" class="form-control" name="commentContent" [(ngModel)]="commentContent"></textarea>
                    <div class="form-text text-muted">코멘트를 입력하세요.</div>
                </div>
                <button type="submit" class="btn btn-primary" (click)="onClickCreateComment()">코멘트 등록</button>
                <button type="button" class="btn btn-primary" (click)="mode=''">취소</button>
            </form>
        </section>


        <section *ngIf=" post.comments && post.comments.length ">
            <div class="comment" *ngFor="let comment of post.comments">
                <div *ngIf="comment.deleted != 1" class="my-2 p-3 bg-lightgrey">
                <div *ngIf=" comment.mode != 'edit' " clsss="view">
                    {{ comment.content }}
                    <div *ngIf=" app.user.admin " class="buttons mt-2 fs-80">
                        <span *ngIf=" app.user.admin " (click)=" comment.mode='edit'; commentEditContent = comment.content; " class="">수정</span>
                        <span *ngIf=" app.user.admin " class="card-link" (click)=" onClickDelete(comment) ">삭제</span>
                    </div>네
                </div>
                <div class="edit">
                    <section *ngIf="comment.mode=='edit'" class="">
                        <h3>코멘트 수정</h3>
                        <form>
                            <div class="form-group">
                                <label for="content-box">내용</label>
                                <textarea id="content-box" class="form-control" name="commentEditContent" [(ngModel)]="commentEditContent"></textarea>
                                <div class="form-text text-muted">내용을 입력하세요.</div>
                            </div>
                            <button type="submit" class="btn btn-primary" (click)="onClickEditComment(comment)">수정</button>
                            <button type="button" class="btn btn-primary" (click)="comment.mode=''">취소</button>
                        </form>
                    </section>
                </div>
                </div>
            </div>
        </section>


    </div>

</div>