<div class="change-password-modal">
  <div class="modal-header">
      <h5 class="modal-title">
        <span class="modal-title">Change Password</span>
      </h5>
      <button type="button" class="close" aria-hidden="true" (click)="onClickDismiss()">
        <span aria-hidden="true">×</span>
      </button>
  </div>
  
    <div class="modal-body">
      <div class="form-container"> 
        <form [formGroup]="formGroup">
            <div class="form-group mt-2">
                <label for="OldPassword">Old Password</label>
                <input type="password" id="OldPassword" class="form-control" required formControlName="old_password" (keydown)="onEnterChangePassword($event)">
            </div>
            <div class="form-group mt-2">
                <label for="NewPassword">New Password</label>
                <input type="password" id="NewPassword" class="form-control" required formControlName="new_password" (keydown)="onEnterChangePassword($event)">
            </div>
            <button class="btn btn-info btn-block btn-sm" type="button" (click)="onClickChangePassword()">Change Password</button>
            <button class="btn btn-primary btn-block btn-sm" type="button" (click)="onClickCancel()">Cancel</button>
        </form>
      </div> 
    </div>

</div>