<div class="change-password-modal">
  <div class="modal-header">
      <h5 class="modal-title">
        <span class="modal-title">비밀번호 변경</span>
      </h5>
      <button type="button" class="close" aria-hidden="true" (click)="onClickDismiss()">
        <span aria-hidden="true">×</span>
      </button>
  </div>
  
    <div class="modal-body">
      <div class="form-container"> 
        <form [formGroup]="formGroup">
            <div class="form-group mt-2">
                <label for="OldPassword">예전 비밀번호</label>
                <input validate-onblur type="password" id="OldPassword" class="form-control" required formControlName="old_password" (keydown)="onEnterChangePassword($event)">
            </div>
            <div class="form-group mt-2">
                <label for="NewPassword">신규 비밀번호</label>
                <input validate-onblur type="password" id="NewPassword" class="form-control" required formControlName="new_password" (keydown)="onEnterChangePassword($event)">
            </div>
            <button class="btn btn-info btn-block btn-sm" type="button" (click)="onClickChangePassword()">비밀번호 변경하기</button>
            <button class="btn btn-primary btn-block btn-sm" type="button" (click)="onClickCancel()">취소</button>
        </form>
      </div> 
    </div>

</div>
