<div class="change-password-modal">
  <div class="modal-header">
      <h5 class="modal-title">
        <span class="modal-title">비밀번호 변경</span>
      </h5>
      <button type="button" class="close" aria-hidden="true" (click)="onClickDismiss()">
        <span aria-hidden="true">×</span>
      </button>
  </div>
  
    <div class="modal-body">
      <div class="form-container"> 
        <form [formGroup]="formGroup">
            <div class="form-group mt-2">
                <label for="OldPassword">예전 비밀번호</label>
                <input validate-onblur placeholder="예전 비밀번호" type="password" id="OldPassword" class="form-control" required formControlName="old_password" (keydown)="onEnterChangePassword($event)">
            </div>
            <div *ngIf="formErrors.old_password" class="alert alert-danger">
                <span class="errors"> {{ formErrors.old_password }} </span>
            </div>
            <div class="form-group mt-2">
                <label for="NewPassword">신규 비밀번호</label>
                <input validate-onblur placeholder="신규 비밀번호" type="password" id="NewPassword" class="form-control" required formControlName="new_password" (keydown)="onEnterChangePassword($event)">
            </div>
            <div *ngIf="formErrors.new_password" class="alert alert-danger">
                <span class="errors"> {{ formErrors.new_password }} </span>
            </div>
            <button type="button"class="btn form-control white btn-block" style="background-color:#8fa3ad" (click)="onClickChangePassword()"  [disabled]="!formGroup.valid">비밀번호 변경하기</button>
            <button type="button"class="btn form-control white btn-block" style="background-color:#8fa3ad" (click)="onClickCancel()"  [disabled]="!formGroup.valid">취소</button>
        </form>
      </div> 
    </div>

</div>
