<h5>Achievements</h5>
<div class="row py-3">
    <div class="col-sm-6">
        <h5>My Achievements</h5>
        <ul class="list-style-none">
            <li>Name: MyName</li>
            <li>Reserve Session: 17</li>
            <li>Past Session:31</li>
            <li>Next Session: 10pm Jan 7 2018</li>
            <li>Phone Number: 0999877665544</li>
            <li>Email: MyName@email.com</li>
        </ul>

    </div>
    <div class="col-sm-6">
        <h5>Others</h5>
        <ul class="list-style-none">
            <li>Name: MyName</li>
            <li>Reserve Session: 17</li>
            <li>Past Session:31</li>
            <li>Next Session: 10pm Jan 7 2018</li>
            <li>Phone Number: 0999877665544</li>
            <li>Email: MyName@email.com</li>
        </ul>
    </div>
</div>
