.achievement {
    //background-color: black;
    color: #000000;
    .header {
        padding: 1em 0;
        font-weight: bold;
    }

    .summary {
        .icon {
            width: 55px;
            height: 55px;
            float: left;
        }
        .title {
            margin-left: 55px;
        }
    }
}



.information {
    font-size: 1rem;
    ul {
        width: 100%;
        li {
            display: flex;
        }
        span {
            display: block;
            margin-bottom: .5em;
            margin-right: 1rem;
            padding: .7em 1em;
            width: 50%;
            background-color: #C5CAE9;
        }
        i {
            display: block;
            margin-bottom: .5em;
            padding: .7em 1em;
            width: 50%;
            background-color: white;
        }
    }
}





.pie {
    //border: 1px solid darkgrey;

    .pieContainer {
        position: relative;
        display: inline-block;
        float: left;
        width: 150px;
        height: 150px;
    }

    .pieBackground {
        position: absolute;
        width: 150px;
        height: 150px;
        border-radius: 75px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    }

    .pie {
        transition: all 1s;
        position: absolute;
        width: 150px;
        height: 150px;
        border-radius: 75px;
        clip: rect(0, 75px, 150px, 0px);
    }

    .hold {
        position: absolute;
        width: 150px;
        height: 150px;
        border-radius: 75px;
        clip: rect(0, 150px, 150px, 75px);
    }

    .innerCircle {
        position: absolute;
        width: 120px;
        height: 120px;
        background-color: #ffffff;
        border-radius: 60px;
        top: 15px;
        left: 15px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.5) inset;
        color: #000000;
    }
    .innerCircle .content {
        position: absolute;
        display: block;
        width: 120px;
        top: 30px;
        left: 0;
        text-align: center;
        font-size: 14px;
    }

    .pieInformation {
        height: 150px;
        margin-left: 150px;
        text-align: center;
        .pieTop, .pieBottom {
            margin-left: 2em;
            border: 1px solid darkgrey;
            height: 75px;
        }
    }
}
