<div class="achievement no-gutters">
    <h3 class="header text-center">Achievements</h3>
    <div class="summary row no-gutters mb-3">
        <div class="col-12 col-sm-4 px-1 mb-2">
            <div class="p-3" style="background-color: #4a8cef">
                <div class="icon"><i class="fa fa-area-chart fs-3rem"></i></div>
                <div class="title pl-2">Earn Score</div>
                <div class="title pl-2">{{no_of_points}}/{{data['max_score']}}</div>
            </div>
        </div>
        <div class="col-12 col-sm-4 px-1 mb-2">
            <div class="p-3" style="background-color: #58b854">
                <div class="icon"><i class="fa fa-bar-chart fs-3rem"></i></div>
                <div class="title pl-2">Performance</div>
                <div class="title pl-2">{{performance_percentage}}%</div>
            </div>
        </div>
        <div class="col-12 col-sm-4 px-1 mb-2">
            <div class="p-3" style="background-color: #f5ac40">
                <div class="icon"><i class="fa fa-line-chart fs-3rem"></i></div>
                <div class="title pl-2">Level</div>
                <div class="title pl-2">{{average_level}}</div>
            </div>
        </div>

    </div>
    <div class="pieGroup row no-gutter">
        <div class="col-12 col-md-6 mb-3">
            <div class="title pl-3 fs-150 text-center">Expression</div>
            <div class="pie m-2">
                <div class="pieContainer">
                    <div class="pieBackground"></div>
                    <div class="hold">
                        <div class="pie bg-blue" [ngStyle]="{'transform': 'rotate(' + expression_percentage + 'deg)' }"></div>
                    </div>
                    <div class="hold" [ngStyle]="{'transform': 'rotate(' + (expression_percentage - 1) + 'deg)' }">
                        <div class="pie bg-blue" [ngStyle]="{'transform': 'rotate(' + expression_percentage + 'deg)' }"></div>
                    </div>
                    <div class="innerCircle">
                        <div class="content"><span class="fs-25rem">{{expression_percentage}}%</span></div>
                    </div>
                </div>
                <div class="pieInformation">
                    <div class="pieTop">
                        <div>Accumulated Points</div>
                        <div>{{data?.rates?.expression}}</div>
                    </div>
                    <div class="pieBottom">
                        <div>Total Points</div>
                        <div>{{no_of_max_points}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 mb-3">
            <div class="title pl-3 fs-150 text-center">Grammar</div>

            <div class="pie m-2">
                <div class="pieContainer">
                    <div class="pieBackground"></div>
                    <div class="hold">
                        <div class="pie bg-blue" [ngStyle]="{'transform': 'rotate(' + grammar_percentage + 'deg)' }"></div>
                    </div>
                    <div class="hold" [ngStyle]="{'transform': 'rotate(' + (grammar_percentage - 1) + 'deg)' }">
                        <div class="pie bg-blue" [ngStyle]="{'transform': 'rotate(' + grammar_percentage + 'deg)' }"></div>
                    </div>
                    <div class="innerCircle">
                        <div class="content"><span class="fs-25rem">{{grammar_percentage}}%</span></div>
                    </div>
                </div>
                <div class="pieInformation">
                    <div class="pieTop">
                        <div>Accumulated Points</div>
                        <div>{{data?.rates?.grammar}}</div>
                    </div>
                    <div class="pieBottom">
                        <div>Total Points</div>
                        <div>{{no_of_max_points}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 mb-3">
            <div class="title pl-3 fs-150 text-center">Pronunciation</div>

            <div class="pie m-2">
                <div class="pieContainer">
                    <div class="pieBackground"></div>
                    <div class="hold">
                        <div class="pie bg-blue" [ngStyle]="{'transform': 'rotate(' + pronounciation_percentage + 'deg)' }"></div>
                    </div>
                    <div class="hold" [ngStyle]="{'transform': 'rotate(' + (pronounciation_percentage - 1) + 'deg)' }">
                        <div class="pie bg-blue" [ngStyle]="{'transform': 'rotate(' + pronounciation_percentage + 'deg)' }"></div>
                    </div>
                    <div class="innerCircle">
                        <div class="content"><span class="fs-25rem">{{pronounciation_percentage}}%</span></div>
                    </div>
                </div>
                <div class="pieInformation">
                    <div class="pieTop">
                        <div>Accumulated Points</div>
                        <div>{{data?.rates?.pronounciation}}</div>
                    </div>
                    <div class="pieBottom">
                        <div>Total Points</div>
                        <div>{{no_of_max_points}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 mb-3">
            <div class="title pl-3 fs-150 text-center">Vocabulary</div>

            <div class="pie m-2">
                <div class="pieContainer">
                    <div class="pieBackground"></div>
                    <div class="hold">
                        <div class="pie bg-blue" [ngStyle]="{'transform': 'rotate(' + vocabulary_percentage + 'deg)' }"></div>
                    </div>
                    <div class="hold" [ngStyle]="{'transform': 'rotate(' + (vocabulary_percentage - 1) + 'deg)' }">
                        <div class="pie bg-blue" [ngStyle]="{'transform': 'rotate(' + vocabulary_percentage + 'deg)' }"></div>
                    </div>
                    <div class="innerCircle">
                        <div class="content"><span class="fs-25rem">{{vocabulary_percentage}}%</span></div>
                    </div>
                </div>
                <div class="pieInformation">
                    <div class="pieTop">
                        <div>Accumulated Points</div>
                        <div>{{data?.rates?.vocabulary}}</div>
                    </div>
                    <div class="pieBottom">
                        <div>Total Points</div>
                        <div>{{no_of_max_points}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 mb-3">
            <div class="title pl-3 fs-150 text-center">Speed</div>

            <div class="pie m-2">
                <div class="pieContainer">
                    <div class="pieBackground"></div>
                    <div class="hold">
                        <div class="pie bg-blue" [ngStyle]="{'transform': 'rotate(' + speed_percentage + 'deg)' }"></div>
                    </div>
                    <div class="hold" [ngStyle]="{'transform': 'rotate(' + (speed_percentage - 1) + 'deg)' }">
                        <div class="pie bg-blue" [ngStyle]="{'transform': 'rotate(' + speed_percentage + 'deg)' }"></div>
                    </div>
                    <div class="innerCircle">
                        <div class="content"><span class="fs-25rem">{{speed_percentage}}%</span></div>
                    </div>
                </div>
                <div class="pieInformation">
                    <div class="pieTop">
                        <div>Accumulated Points</div>
                        <div>{{data?.rates?.speed}}</div>
                    </div>
                    <div class="pieBottom">
                        <div>Total Points</div>
                        <div>{{no_of_max_points}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
