#my-page {
    background-color: #eee;

    .page-header {
        padding: 1em;
        background-color: #3F51B5;
        color: white;
        h2 {
            margin: 0;
            padding: 0;
            font-weight: 100;
        }
    }
}