<section id="my-page" class="part">
        <div class="page-header">
            <h2 class="text-center py-3 py-md-5">마이페이지</h2>
        </div>
    <div class="content-wrapper">

        <nav class="tabs row mb-3">
            <div class="col-4 pl-3"><button class="w-100 p-3" [class.selected]=" option == 1 " (click)="option=1">수업 정보</button></div>
            <div class="col-4 px-1"><button class="w-100 p-3" [class.selected]=" option == 2 " (click)="option=2">학업 성취도</button></div>
            <div class="col-4 pr-3"><button class="w-100 p-3" [class.selected]=" option == 3 " (click)="option=3">레벨테스트</button></div>
        </nav>

        <my-page-lms-component *ngIf="option == 1"></my-page-lms-component>
        <my-page-achievement-component *ngIf="option == 2"></my-page-achievement-component>
        <my-page-leveltest-component *ngIf="option == 3"></my-page-leveltest-component>

    </div>

</section>
