<section id="my-page" class="part">
    <div class="page-header">
        <h2 class="text-center py-3 pt-md-5 pb-md-2">마이페이지</h2>
        <div class="pb-md-4 text-center">어서오세요 <b>{{app.user.info.name}}</b>님, 굿톡 마이페이지입니다.</div>

    </div>



    
    <nav class="tabs row mt-sm-3 mb-3">
            <div class="col-4 p-0 pl-sm-3 pl-lg-0">
                <button class="w-100 py-2 px-1 p-sm-3 pointer" [class.selected]=" option == 1 " (click)="option=1">레벨테스트</button>
            </div>
            <div class="col-4 p-0 px-sm-1">
                <button class="w-100 py-2 px-1 p-sm-3 pointer" [class.selected]=" option == 2 " (click)="option=2">수업정보</button>
            </div>
            <div class="col-4 p-0 pr-sm-3 pr-lg-0">
                <button class="w-100 py-2 px-1 p-sm-3 pointer" [class.selected]=" option == 3 " (click)="option=3">학업성취도</button>
            </div>
        </nav>

    <div class="content-wrapper pt-0">
        <my-page-leveltest-component *ngIf="option == 1"></my-page-leveltest-component>
        <my-page-lms-component *ngIf="option == 2"></my-page-lms-component>
        <my-page-achievement-component *ngIf="option == 3"></my-page-achievement-component>

    </div>

</section>
