<section id="admin-panel-component">

  <div class="config p-absolute b-0 w-16 z-index-medium" [ngClass]="{'bg-white w-16': config}" >
    <div [ngClass]="{'ml-2 mb-2': !config, 'p-2 blue': config, 'mb-3': username }">
      <span class="fa-stack fa-lg pointer" (click)=" config = ! config ">
        <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
        <i class="fa fa-stack-1x fa-inverse" [class.fa-gear]=" !config " [class.fa-times]=" config "></i>
      </span>
      <span *ngIf=" config ">Admin Options</span>
    </div>
    <div class="p-2 bg-slategrey" [class.d-none]=" ! config ">
      <div class="container">
        <div class="row form-group">
          <label class="col-auto col-form-label" for="adminNoOfLines">채팅창 높이</label>
          <div class="col-auto">
            <select class="form-control pointer" id="adminNoOfLines" name="adminNoOfLines" [value]="getOptionChatNoOfLines" (change)="onChangeNoOfLines($event)">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="5">5</option>
              <option value="7">7</option>
              <option value="10">10</option>
              <option value="15">15</option>
              <option value="20">20</option>
              <option value="25">25</option>
              <option value="30">30</option>
              <option value="40">40</option>
            </select>
          </div>
        </div>
        <div class="row form-group">
          <label class="col-auto col-form-label" for="adminNoOfWidth">채팅창 너비</label>
          <div class="col-auto">
            <select class="form-control pointer" id="adminNoOfWidth" name="adminNoOfWidth" [value]="getOptionChatNoOfWidth" (change)="onChangeNoOfWidth($event)">
              <option value="15">15</option>
              <option value="20">20</option>
              <option value="25">25</option>
              <option value="30">30</option>
              <option value="35">35</option>
              <option value="40">40</option>
              <option value="45">45</option>
              <option value="50">50</option>
            </select>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-auto mr-2 pointer" onclick="alert('채팅은 한 줄에 채팅 한나를 표시. 사용자는 한 사용자당 한 줄로 표시.');">채팅 구분 (?)</div>
          <div class="col-auto">
            <label class="pointer" for="line"><input class="pointer" type='radio' name="per" [(ngModel)]="chatDisplay" value="line" id="line" (change)="setChatDisplay( 'line' )">채팅</label>
            <label class="pointer" for="user"><input class="pointer" type='radio' name="per" [(ngModel)]="chatDisplay" value="user" id="user" (change)="setChatDisplay( 'user' )">사용자</label>
          </div>
        </div>

        <div class="row">
          <div class="col-auto pointer">
            <span *ngIf="minimized" (click)=" minimized = false ">Maximize</span>
            <span *ngIf=" !minimized " (click)=" minimized = true; initial = true ">Minimize</span>
          </div>
        </div>
      </div><!-- .container -->
    </div>
  </div>


  <div class="chat p-3 bg-lightblue" [class.d-none]="minimized">
    <div class="display">
      <div class="messages h-15">
        <ul *ngIf=" ! username " class="list-style-none p-3">
          <ng-container *ngIf="chatDisplay == 'line'">
            <li class="d-flex talkbubble bubble-left" *ngFor="let m of all_message | async">
              <span class="d-block p-2 mb-1 rounded bg-white pointer" (click)=" onClickUser(m) ">
                {{ getUserName( m ) }} : {{ m.message }}
                <span *ngIf="m.noOfClasses" (click)="onClickClass( getUserName( m ) );$event.stopPropagation();" >[Class:{{m.noOfClasses}}]</span>
              </span>
            </li>
          </ng-container>
          <ng-container *ngIf="chatDisplay == 'user'">
            <li class="d-flex talkbubble bubble-left" *ngFor="let lm of last_message | async">
              <span (click)=" onClickUser( lm ) " class="d-block p-2 mb-1 rounded bg-white pointer">
                <span *ngIf="lm.name"  [class]="getUserIcon( lm.name )" >{{ getUserIcon( lm.name ) }}</span>
                {{ getUserName( lm ) }} : {{ lm.message }} [Msg:{{lm.count}}]
              <span *ngIf="lm.noOfClasses" class="pointer" (click)="onClickClass( getUserName( lm ) );$event.stopPropagation();">[Class:{{lm.noOfClasses}}]</span>
              </span>
            </li>
          </ng-container>
        </ul>
        <ul *ngIf=" username " class="list-style-none p-3">
          <li class="message d-flex talkbubble {{ m.name == userLoginName ? 'justify-content-end bubble-right': 'bubble-left'}}" *ngFor="let m of user_message | async">
            <span class="d-block p-2 mb-1 rounded" [ngClass]="{'bg-white': m.name != userLoginName, 'bg-yellow': m.name == userLoginName } " >
              {{ m.name == userLoginName ? '' : getUserName( m ) + ' : ' }}{{ m.message }}
              <span *ngIf="m.noOfClasses" class="pointer" (click)="onClickClass( getUserName( m ) );$event.stopPropagation();">[Class:{{m.noOfClasses}}]</span>
            </span>
          </li>
        </ul>
      </div>
      <div class="input ml-5">
        <div [class.d-none]=" username ">To chat, click username.</div>
        <div [class.d-none]=" ! username ">
          <form (ngSubmit)="onSubmitMessage()">
            <input name="message" [(ngModel)]="form.message" style="width: 80%;">

            <span class="fa-stack fa-lg pointer" (click)=" onClickChatClose() ">
                            <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
                            <i class="fa fa-close fa-stack-1x fa-inverse" aria-hidden="true"></i>
                        </span>
            <div class="alert alert-info" role="alert" [class.d-none]=" ! someoneTalking">
              <strong>Someone Talking</strong>
            </div>
          </form>
          <div class="progress">
            <div class="progress-bar" role="progressbar" [style.width]=" 99 - secondCountDownForChatClose + '%' "></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
