<aside class="sidebar">
    <ul>
         <li> 
             <a href="#"> 
                <div>강의실입장</div>
                <img src="assets/img/aside1.jpg" >
            </a>
        </li>
        <li> 
            <a href="#"> 
                <div>스카이프</div> 
                <img src="assets/img/aside2.jpg" > 
            </a> 
        </li>
        <li> 
            <a href="#">
                <div>장치테스트</div>
                <img src="assets/img/aside3.jpg" >         
            </a>
        </li>
        <li>
            <a href="#"> 
                <div>원격지원</div> 
                <img src="assets/img/aside4.jpg" > 
            
            </a>
        </li>
        <li>
            <a href="#">
                <div class="chrome">크롬<span class="hidden-xs-down">다운로드</span></div> 
                <img src="assets/img/aside5.jpg" > 
            </a> 
        </li>
    </ul>
</aside>