<div *ngIf="app.widthSize == 'big'">
    <ul>
        <li>
            <div (click)="onClickVe()"><img src="assets/images/wing/enter-class.png"></div>
            <div (click)="onClickInstall()"><img src="assets/images/wing/install-ve.png"></div>
        </li>
        <li>
            <a href="https://open.kakao.com/o/s3H2K1s" target="_blank"><img src="assets/images/wing/kakao.png"></a>
        </li>
        <li>
            <a href="http://onlineenglish.kr/~centerxmain/res/download/tv_ko.exe"><img src="assets/images/wing/remote.png"></a>
        </li>
        <li *ngIf=" count ">
            <div class="today-class">
                <div class="text">{{ count }}</div>
                <img src="assets/images/wing/no.png">
            </div>
        </li>
        <li (click)="onClickShowFAQ()">
          <div class="d-inline-block"><img src="assets/images/wing/faq.jpg"></div>
        </li>
    </ul>
</div>
