<aside class="sidebar">
    <ul>
         <li> 
             <a href="#"> 
                <font>강의실 입장</font>
                <img src="assets/img/aside1.jpg" >
            </a>
        </li>
        <li> 
            <a href="#"> 
                <font>스카이프</font> 
                <img src="assets/img/aside2.jpg" > 
            </a> 
        </li>
        <li> 
            <a href="#"> 
                <font>장치 테스트</font> 
                <img src="assets/img/aside3.jpg" >         
            </a>
        </li>
        <li>
            <a href="#"> 
                <font>원격지원</font> 
                <img src="assets/img/aside4.jpg" > 
            
            </a>
        </li>
        <li>
            <a href="#">
                <font class="chrome">크롬 다운로드</font> 
                <img src="assets/img/aside5.jpg" > 
            </a> 
        </li>
    </ul>
</aside>