<div class="contact-container">
    <div class="contact-content">
     
        <div class="row justify-content-center">
            <div class="col-auto logo">
                <img src="assets/img/contact-logo.jpg">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto title">주소:</div>
            <div class="col-auto desc">경남 김해시 한림면 신천리 284 - 1 번지</div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto title">전화번호:</div>
            <div class="col-auto desc">070-7893-1741</div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto title">이메일:</div>
            <div class="col-auto desc">thruthesky@gmail.com</div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto title">스카이프:</div>
            <div class="col-auto desc">thruthesky</div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto title">카카오톡:</div>
            <div class="col-auto desc">thruthesky2</div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto title">담당자:</div>
            <div class="col-auto desc">송재호</div>
        </div>
    </div>
</div>