<header-component>
</header-component>

<section id="content" [class]="app.widthSize">
        <!--<aside-component></aside-component>-->
        <intro-component></intro-component>
        <teacher-component [teachers]="teachers"></teacher-component>
        <curriculum-component></curriculum-component>
        <level-test-component></level-test-component>
        <comment-component></comment-component>
        <payment-component></payment-component>
        <reservation-component></reservation-component>
        <forum-component></forum-component>
</section>

<chat-component *ngIf=" ! app.isAdmin() "></chat-component>
<admin-panel-component *ngIf=" app.isAdmin() "></admin-panel-component>

<footer-component></footer-component>