<div class="register-modal">


  <div class="modal-header" style="border-top: 2.5rem solid #4b5d6f;">
    <h5 class="modal-title">
      <span class="modal-title">Teacher Comments</span>
    </h5>
    <div class="pointer" (click)="onClickWriteReview()">
      <i class="fa fa-comment-o"></i> Write Comment
    </div>
    <button type="button" class="close" aria-hidden="true" (click)="onClickDismiss()">
      <span aria-hidden="true">×</span>
    </button>
  </div>

  <div class="modal-body p-0">
    <div class="modal-container p-2">

      <div class="fs-2rem text-center p-5" *ngIf=" ! comments.length ">
        <i class="fa fa-spinner fa-spin"></i> Connecting to Server
      </div>
      <ng-container *ngFor="let comment of comments; let odd = odd">


        <div class="comment bg-white p-2 mb-2" *ngIf="comment.documentID">
          <div class="container p-0">
            <div class="row p-0">
              <div class="col-12 col-sm-4">
                <div class="name mt-0 mb-2">{{comment.studentName}}</div>
                <div class="date mb-2">{{comment.time | date:'short'}}</div>
                <div class="rating mb-2">
                  RATE: 1 <i class="fa fa-star" *ngFor="let star of stars(comment.rate)"></i>
                </div>
                <div *ngIf="comment.idxStudent == user.info.idx">
                  <div class="d-inline-block py-2 pointer mr-3" (click)="onClickDelete( comment )">
                    <i class="fa {{ comment['delete'] ? 'fa-spinner fa-spin': 'fa-trash'}}"></i> DELETE
                  </div>
                  <div class="d-inline-block py-2 pointer" (click)="onClickCommentEdit( comment )">
                    <i class="fa fa-pencil"></i> EDIT
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-8">
                <div class="description" [innerHTML]="comment.comment"></div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

</div>
