header {
    background-color: red;
    nav.navbar {
        padding: 0;
        .menu {
            padding: .3em;
        }
    }
}


.small .navbar {
    .top {
        background-color: #4b494f;
        .menu {
            padding:.6em;
        }
    }
    .top .menu {
       text-align: center;
        .button {
            padding: .5em;
            display: inline-block;
            font-size: 1.3em;
            color: #fff;
        }
        .button:hover {
            cursor: pointer;
                color:#999;
        }
    }
    .bottom {
        position: relative;
        background-color: white;
        padding: .3em;
        display: block;
        .logo {
            margin: 0;
            width: 180px;
            height: auto;
            cursor: pointer;
            img {
                margin-left: .5em;
                width: 100%;
                max-width: 300px;
                height: 100%;
            }
        }
        .button {
            position: absolute;
            font-size: 2em;
            right: 1em;
            top: .5em;
            cursor: pointer;
            color: #4b494f;
        }
        .panel {
            padding: 0;
            max-height: 0;
            overflow: hidden;
            transition-duration: .3s;
            &.active {
                max-height: 450px;
            }
            .menus {
                margin: 0;
                padding: .5em 1em 0;
                list-style: none;
                .menu {
                    border-top: 1px solid #eee;
                    padding:.5em .8em;
                    font-size: 1.3em;
                    cursor:pointer;
                    &.active {
                        background-color: #f15f4c;
                        color:#fff;
                    }
                    &:hover {
                        background-color: #eee;
                    }
                }
            }
        }
    }
}
