<section id="comment" class="part bg-orange">

    <h2 class="p-5 text-center">
        수강후기
    </h2>

    <div class="container">
        <div class="row">

            <div class="col-md-6" *ngFor="let student of students ">

                <table>
                    <tr>
                        <td>
                            <img [src]=" student.src ">
                        </td>
                        <td class="pl-2 fs-120 bold">
                            {{ student.name }}
                        </td>
                    </tr>
                </table>

                <div class="py-3">
                    {{ student.comment }}
                </div>
            </div>

        </div>
    </div>


</section>