<section id="comment" class="part">
        <div class="comment-container">
            <div class="row">
                <div class="col-md-4 img-comment">
                    <img src="assets/img/comment.png">
                </div>
                <div class="col-md-8 comment-content">
                    <div class="title-row">
                        수강후기
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="inner">
                                <div class="picture-text">
                                    <img src="assets/img/comment1.jpg">
                                </div>
                                <div class="name-text">
                                    박수환
                                </div>
                                <div class="comment-text">
                                    지난 2년간 함께하며 제 영어 실력을 향상 시켜준 Jam 선생님께 진심으로 감사드립니다.
                                </div>
                            </div>
                            <div class="inner">
                                <div class="picture-text">
                                    <img src="assets/img/comment2.jpg">
                                </div>
                                <div class="name-text">
                                    정주은
                                </div>
                                <div class="comment-text">
                                    Fae 선생님을 만난 것은 큰 행운입니다. 덕분에 영어를 마스터 할 수 있었습니다.
                                </div>
                            </div>
                            <div class="inner">
                                <div class="picture-text">
                                    <img src="assets/img/comment3.jpg">
                                </div>
                                <div class="name-text">
                                    박수환
                                </div>
                                <div class="comment-text">
                                    저는 초등학교 2학년인데 삼육 학원에서 고등학생과 같이 수업을 해요. Briana 선생님 덕분이죠.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="inner">
                                <div class="picture-text">
                                    <img src="assets/img/comment4.jpg">
                                </div>
                                <div class="name-text">
                                    이진희
                                </div>
                                <div class="comment-text">
                                    Krizelle 선생님께서 잘 리드해 주셔서 영어 두근거림이 사라졌습니다.
                                </div>
                            </div>
                            <div class="inner">
                                <div class="picture-text">
                                    <img src="assets/img/comment5.jpg">
                                </div>
                                <div class="name-text">
                                    김영희
                                </div>
                                <div class="comment-text">
                                    Pia 선생님께서 잘 가르쳐주셔서 영어 말하기 대회에서 입상하였습니다.
                                </div>
                            </div>
                            <div class="inner">
                                <div class="picture-text">
                                    <img src="assets/img/comment6.jpg">
                                </div>
                                <div class="name-text">
                                    쥴리아 정
                                </div>
                                <div class="comment-text">
                                    영어는 참 쉬워요. 좋은 선생님을 만난다면 더욱 빠르게 영어가 늘죠. 고마워요 Stacey 선생님.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
