@import './../../theme/mixins';
.part .content-wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    border-top: 1px solid slategrey;
    .comments {
        @include layout-center();
    }
}

.text {
    @include layout-center();
    padding-top: 4rem;
    @media ( min-width: $md ) {
        padding-bottom: 4rem!important;
    }
    h1 {
        margin: .1rem 0;
        text-align: center;
        font-size: 3rem;
        @media (min-width: $md ) { margin: .4rem 0; }
    }
}


span.highlight {
    color: black;
}


.menu {
    @include layout-center();
    padding-top: 2rem;
    padding-bottom: 2rem!important;
    line-height: 1.6em;
}