<section id="comment" class="part">
    <div class="content-wrapper">
        <div class="text">
            <h1>수강후기</h1>
        </div>
        <div class="bg-orange white">
            <div class="menu">
                {{ app.config.company_name_eul }} 하면서 <span class="highlight">느낀 점, 선생님 자랑, 영어 실력 향상 노하우</span> 등에 대해 적어 보세요.<br>
                한글 100 글자 이상. 사진 필수.
                <div class="mt-3">
                    <button type="button" class="btn btn-secondary" (click)="onClickWriteReview()">
                        <i class="fa fa-comments orange" aria-hidden="true"></i>
                        수강후기 작성하기
                    </button>
                </div>
            </div>
        </div>
      <div class="comments">
        <div class="container">
          <div class="row">
            <div class="d-inline-block align-top col-md-6" *ngFor="let post of posts ">
              <table cellspacing="0" cellpadding="0">
                <tr>
                  <td *ngIf="post.files[0]" class="of-hidden b-white rounded-circle d-block" style="height: 4rem; width: 4rem;">
                    <img [src]=" post.files[0].url " class="d-block p-relative m-0 p-0 w-100 h-auto" style="min-width:4rem; min-height:4rem">
                  </td>
                  <td class="pl-2 fs-120 bold">
                    <span>
                      {{post.name}}
                    </span>
                      <span *ngIf="post && post.files.length > 0"><i class="fa fa-picture-o icons p-1" aria-hidden="true"></i></span>
                      <span *ngIf=" !post.deleted && ( userIdx == post.user_idx  ||  app.user.info.admin == 1 )"
                            (click)="onClickDelete( post );$event.stopPropagation();" class="text-center" role="button">
                      <i class="fa fa-trash icons p-1" ></i>
                    </span>
                      <span *ngIf="!post.deleted && ( userIdx == post.user_idx  ||  !userIdx && post.name == 'anonymous')"
                            (click)="onClickEdit( post );$event.stopPropagation();" class="text-center" role="button">
                      <i class="fa fa-pencil icons p-1"></i>
                    </span>

                  </td>
                </tr>
              </table>
              <div *ngIf="post.content.length > 100" class="py-3" (click)="post.show_more_content = ! post.show_more_content">
                <div class="of-hidden" [class.mh-auto]=" post.show_more_content " [class.post-content]=" !post.show_more_content " [innerHTML]=" post.content "></div>
                <div *ngIf="!post.show_more_content">... show more</div>
                <div *ngIf="post.show_more_content">... hide</div>
              </div>
              <div *ngIf="100 > post.content.length" class="py-3" (click)="post.show_more_content = ! post.show_more_content">
                <div class="of-hidden mh-auto" [innerHTML]=" post.content "></div>
              </div>

            </div>
          </div>
        </div>
        <page-navigator-basic
          [no_of_total_items]=" no_of_total_items "
          [no_of_items_in_one_page] = " no_of_items_in_one_page "
          [no_of_pages_in_navigator] = " no_of_pages_in_navigator "
          [no_of_current_page] = " no_of_current_page "
          [show_prev_next] = " true "
          (pageClick)="onConfigPageClick( $event )"
        >
        </page-navigator-basic>
      </div>
        <level-test-button></level-test-button>
    </div>
</section>
