<div class="header mb-2">
    <i class="fa fa-pie-chart"></i>
    <!--<b>{{app.user.info.id}}</b>님의 레벨테스트 결과입니다.-->
    <b>담당강사: {{first_class?.teacher?.mb_nick}}</b>
    <div>레벨테스트 날짜: {{first_class?.kdate}}</div>
</div>

<div class="p-5 bg-white" *ngIf=" loading ">
    <i class="fa fa-spinner fa-spin"></i> 수업 정보를 로드중입니다. 잠시만 기다려주세요.
</div>
<div class="error p-5 bg-white red" [innerHTML]="error" *ngIf="!loading && error"></div>

<ng-container *ngIf=" !loading && !error ">


    <div class="achievement no-gutters">




        <div class="summary row no-gutters mb-sm-3">
            <div class="col-12 col-sm-4 pr-md-1 mb-md-2">
                <div class="p-3" style="background-color: #4a8cef">
                    <div class="icon">
                        <i class="fa fa-area-chart fs-3rem white"></i>
                    </div>
                    <div class="title pl-2">나의 점수</div>
                    <div class="title pl-2"> {{no_of_points|number}}점 / 총{{ 45 |number}}점</div>
                </div>
            </div>
            <div class="col-12 col-sm-4 px-md-1 mb-md-2">
                <div class="p-3" style="background-color: #58b854">
                    <div class="icon">
                        <i class="fa fa-bar-chart fs-3rem white"></i>
                    </div>
                    <div class="title pl-2">순위/전체</div>
                    <div class="title pl-2">{{performance_percentage}}</div>
                </div>
            </div>
            <div class="col-12 col-sm-4 pl-md-1 mb-md-2">
                <div class="p-3" style="background-color: #f5ac40">
                    <div class="icon">
                        <i class="fa fa-line-chart fs-3rem white"></i>
                    </div>
                    <div class="title pl-2">레벨</div>
                    <div class="title pl-2">{{average_level}} (최대 레벨. 9)</div>
                </div>
            </div>
        </div>

        <div class="pieGroup">
            <div class="pie-title mt-5">회원님의 레벨테스트 결과입니다.</div>
            <div class="pies row no-gutters">
                <div class="col-12 col-md-6 mb-3 pr-sm-4">
                    <div class="title text-center bg-purple white">Expression</div>
                    <div class="pie">
                        <div class="pieContainer">
                            <div class="pieBackground"></div>
                            <div class="hold">
                                <div class="pie bg-purple" [ngStyle]="{'transform': 'rotate(' + (expression_percentage*1.2) + 'deg)' }"></div>
                            </div>
                            <div class="hold" [ngStyle]="{'transform': 'rotate(' + (expression_percentage*1.2 - 1) + 'deg)' }">
                                <div class="pie bg-purple" [ngStyle]="{'transform': 'rotate(' + (expression_percentage*1.2) + 'deg)' }"></div>
                            </div>
                            <div class="hold" [ngStyle]="{'transform': 'rotate(' + (expression_percentage*1.2*2 - 2) + 'deg)' }">
                                <div class="pie bg-purple" [ngStyle]="{'transform': 'rotate(' + (expression_percentage*1.2+2) + 'deg)' }"></div>
                            </div>
                            <div class="innerCircle">
                                <div class="content">
                                    <span class="fs-25rem">{{expression_percentage}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="pieInformation">
                            <div class="pieTop bg-purple-light">
                                <div class="">나의 점수</div>
                                <div>{{rates?.expression}}</div>
                            </div>
                            <div class="pieBottom">
                                <div>총 점</div>
                                <div>{{9}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-3 pl-sm-4">
                    <div class="title text-center bg-green white">Grammar</div>
                    <div class="pie">
                        <div class="pieContainer">
                            <div class="pieBackground"></div>
                            <div class="hold">
                                <div class="pie bg-green" [ngStyle]="{'transform': 'rotate(' + (grammar_percentage*1.2) + 'deg)' }"></div>
                            </div>
                            <div class="hold" [ngStyle]="{'transform': 'rotate(' + (grammar_percentage*1.2 - 1) + 'deg)' }">
                                <div class="pie bg-green" [ngStyle]="{'transform': 'rotate(' + (grammar_percentage*1.2) + 'deg)' }"></div>
                            </div>
                            <div class="hold" [ngStyle]="{'transform': 'rotate(' + (grammar_percentage*1.2*2 - 2) + 'deg)' }">
                                <div class="pie bg-green" [ngStyle]="{'transform': 'rotate(' + (grammar_percentage*1.2+2) + 'deg)' }"></div>
                            </div>
                            <div class="innerCircle">
                                <div class="content">
                                    <span class="fs-25rem">{{grammar_percentage}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="pieInformation">
                            <div class="pieTop bg-green-light">
                                <div>나의 점수</div>
                                <div>{{rates?.grammar}}</div>
                            </div>
                            <div class="pieBottom">
                                <div>총 점</div>
                                <div>{{9}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-3 pr-sm-4">
                    <div class="title text-center bg-blue white">Pronunciation</div>
                    <div class="pie">
                        <div class="pieContainer">
                            <div class="pieBackground"></div>
                            <div class="hold">
                                <div class="pie bg-blue" [ngStyle]="{'transform': 'rotate(' + (pronounciation_percentage*1.2) + 'deg)' }"></div>
                            </div>
                            <div class="hold" [ngStyle]="{'transform': 'rotate(' + (pronounciation_percentage*1.2 - 1) + 'deg)' }">
                                <div class="pie bg-blue" [ngStyle]="{'transform': 'rotate(' + (pronounciation_percentage*1.2) + 'deg)' }"></div>
                            </div>
                            <div class="hold" [ngStyle]="{'transform': 'rotate(' + (pronounciation_percentage*1.2*2 - 2) + 'deg)' }">
                                <div class="pie bg-blue" [ngStyle]="{'transform': 'rotate(' + (pronounciation_percentage*1.2+2) + 'deg)' }"></div>
                            </div>
                            <div class="innerCircle">
                                <div class="content">
                                    <span class="fs-25rem">{{pronounciation_percentage}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="pieInformation">
                            <div class="pieTop bg-blue-light">
                                <div>나의 점수</div>
                                <div>{{rates?.pronounciation}}</div>
                            </div>
                            <div class="pieBottom">
                                <div>총 점</div>
                                <div>{{9}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-3 pl-sm-4">
                    <div class="title text-center bg-orange white">Vocabulary</div>
                    <div class="pie">
                        <div class="pieContainer">
                            <div class="pieBackground"></div>
                            <div class="hold">
                                <div class="pie bg-orange" [ngStyle]="{'transform': 'rotate(' + (vocabulary_percentage*1.2) + 'deg)' }"></div>
                            </div>
                            <div class="hold" [ngStyle]="{'transform': 'rotate(' + (vocabulary_percentage*1.2 - 1) + 'deg)' }">
                                <div class="pie bg-orange" [ngStyle]="{'transform': 'rotate(' + (vocabulary_percentage*1.2) + 'deg)' }"></div>
                            </div>
                            <div class="hold" [ngStyle]="{'transform': 'rotate(' + (vocabulary_percentage*1.2*2 - 2) + 'deg)' }">
                                <div class="pie bg-orange" [ngStyle]="{'transform': 'rotate(' + (vocabulary_percentage*1.2+2) + 'deg)' }"></div>
                            </div>
                            <div class="innerCircle">
                                <div class="content">
                                    <span class="fs-25rem">{{vocabulary_percentage}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="pieInformation">
                            <div class="pieTop bg-orange-light">
                                <div>나의 점수</div>
                                <div>{{rates?.vocabulary}}</div>
                            </div>
                            <div class="pieBottom">
                                <div>총 점</div>
                                <div>{{9}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-3 pr-sm-4">
                    <div class="title text-center bg-red white">Comprehension</div>
                    <div class="pie">
                        <div class="pieContainer">
                            <div class="pieBackground"></div>
                            <div class="hold">
                                <div class="pie bg-red" [ngStyle]="{'transform': 'rotate(' + (speed_percentage*1.2) + 'deg)' }"></div>
                            </div>
                            <div class="hold" [ngStyle]="{'transform': 'rotate(' + (speed_percentage*1.2 - 1) + 'deg)' }">
                                <div class="pie bg-red" [ngStyle]="{'transform': 'rotate(' + (speed_percentage*1.2) + 'deg)' }"></div>
                            </div>
                            <div class="hold" [ngStyle]="{'transform': 'rotate(' + (speed_percentage*1.2*2 - 2) + 'deg)' }">
                                <div class="pie bg-red" [ngStyle]="{'transform': 'rotate(' + (speed_percentage*1.2+2) + 'deg)' }"></div>
                            </div>
                            <div class="innerCircle">
                                <div class="content">
                                    <span class="fs-25rem">{{speed_percentage}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="pieInformation">
                            <div class="pieTop bg-red-light">
                                <div>나의 점수</div>
                                <div>{{rates?.speed}}</div>
                            </div>
                            <div class="pieBottom">
                                <div>총 점</div>
                                <div>{{9}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/pieGroup-->
        <div class="text mt-3">
            <div class="mb-1">첫 수업 선생님의 코멘트</div>
            <div class="row p-3 bg-white  text-center">
                <div class="col-12 col-sm-3" *ngIf="first_class.icon">
                    <img src="{{first_class.icon}}" style="max-width: 100%">
                    <div class="py-1">{{first_class?.teacher?.mb_nick}}</div>
                </div>
                <div class="col-12 col-sm-9">
                {{first_class?.rate_comment}}
                </div>
            </div>
        </div>

        <div class="footer mt-3 text-center">
            <b>{{app.user.info.id}}</b>님의 현재 레벨은
            <b>{{average_level}}</b> 입니다. 조금만 더 분발해 주세요 ^^.
        </div>
    </div>

</ng-container>
