:host {
    display: block;
    background-repeat: repeat-x;
    background-image: url("/assets/images/level-test/level-test-title-5.jpg");
    background-size: auto 240px;
    background-position: 100% 0;
}
.content-wrapper {
    padding-top: 0;
}
.title-text {
    height: 240px;
    background-color: rgba( 0, 0, 0, .2 );
    h1 {
        padding: 3rem 0;
        font-size: 3rem;
        text-align: center;
        color: white;
    }
}