:host {
    display: block;
    background-repeat: repeat-x;
    background-image: url("/assets/images/level-test/level-test-title-2.jpg");
    background-size: auto 280px;
    background-position: 100% 0;
}
.title-text {
    height: 280px;
}