@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(assets/font/NotoSansKR-Regular.woff2) format('woff2'),
       url(assets/font/NotoSansKR-Regular.woff) format('woff'),
       url(assets/font/NotoSansKR-Regular.otf) format('opentype');
}

html,body,h1,h2,h3,h4,h5,h6,div,span,td,li,a,small, label, i, strong, button {
    font-family: "Apple SD Gothic Neo", "Noto Sans KR"!important;
}


html,body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  text-shadow: none; 
  font-weight: normal;
}

a, a:focus, a:hover, a:active, button, button:hover {
   outline: 0 !important;
}

app-component {
    display: block;
}
