// @font-face {
//   font-family: 'Nanum Gothic';
//   src: url('./../assets/font/NanumGothic-Regular.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }

html,body,h1,h2,h3,h4,h5,h6,div,span,td,li,a {
    font-family: 'Nanum Gothic', 'Malgun Gothic', 'AppleGothic', sans-serif!important;
}


html,body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  text-shadow: none; 
  font-weight: normal;
}

a, a:focus, a:hover, a:active, button, button:hover {
   outline: 0 !important;
}

app-component {
    display: block;
}
