.talkbubble {
  position: relative;
  &:before {
    content:"";
    position: absolute;
    top: 3px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
  }
  &.bubble-left:before {
    right: 100%;
    border-right: 10px solid white;
  }
  &.bubble-right:before {
    left: 100%;
    border-left: 10px solid yellow;
  }
}



.grid-4-container {
  .grid-row {
    overflow: auto;
    .grid-col {
      @media (min-width: 940px) {
        float: left;
        width: 25%;
      }
    }
  }
}



.grid-3-container {
  .grid-row {
    overflow: auto;
    .grid-col {
      @media (min-width: 940px) {
        float: left;
        width: 33.33%;
      }
    }
  }
}



.grid-2-3-container {
  .grid-row {
    overflow: auto;
    .grid-col {
      @media (min-width: 576px) {
        float: left;
        width: 50%;
      }
      @media (min-width: 992px) {
        width: 33.33%;
      }
    }
  }
}


.grid-2-container {
  .grid-row {
    overflow: auto;
    .grid-col {
      @media (min-width: 768px) {
        float: left;
        width: 50%;
      }
    }
  }
}



.grid-2-3-4-container {
  .grid-row {
    overflow: auto;
    .grid-col {
      float: left;
      width: 50%;
      @media (min-width: 576px) {
        width: 33.33%;
      }
      @media (min-width: 992px) {
        width: 25%;
      }
    }
  }
}


.grid-30-70-container {
  .grid-row {
    overflow: auto;
    .grid-col {
      @media (min-width: 768px) {
        float: left;
        width: 70%;
        &:first-child {
          width: 30%;
        }
      }
    }
  }
}

