.talkbubble {
  position: relative;
  &:before {
    content:"";
    position: absolute;
    top: 3px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
  }
  &.bubble-left:before {
    right: 100%;
    border-right: 10px solid white;
  }
  &.bubble-right:before {
    left: 100%;
    border-left: 10px solid yellow;
  }
}
