<div class="login-modal">


  <div class="modal-header">

    <h5 class="modal-title">
      회원 로그인
    </h5>
    <button type="button" class="close" aria-hidden="true" (click)="onClickDismiss()">
      <span aria-hidden="true">×</span>
    </button>

  </div>



  <div class="modal-body">

        <div class="d-none" id="naver_id_login"></div>
        <img (click)="onClickNaverLogin()" class="h-2" src="assets/images/social-login/naver-3.png">
        <img (click)="onClickKakaoLogin()" class="h-2" src="assets/images/social-login/kakao-3.png">
        <img (click)="onClickFacebookLogin()" class="h-2" src="assets/images/social-login/facebook-3.png">


    <div class="form-container">
      <form [formGroup]="form" novalidate>


        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>

          <input validate-onblur formControlName="id" name="id" type="text" class="form-control form-control-sm" placeholder="아이디 입력">

        </div>
        <div *ngIf="formErrors.id" class="alert alert-danger">
          <span class="errors"> {{ formErrors.id }} </span>
        </div>
        <div class="input-group">

          <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
          <input validate-onblur formControlName="password" name="password" type="password" class="form-control form-control-sm" id="password" placeholder="비밀번호 입력"
            (keydown)="onEnterLogin($event)">
        </div>
        <div *ngIf="formErrors.password" class="alert alert-danger">
          <span class="errors"> {{ formErrors.password }} </span>
        </div>

        <div class="error alert alert-danger" role="alert" *ngIf="result.message">
          <button type="button" class="close" (click)="result.message=null">
                    <span aria-hidden="true">&times;</span>
                </button> {{ result?.message }}
        </div>
        <div class="button-signin">
          <button type="button"

                    class="btn btn-secondary btn-block border-0 rounded-0 py-3 bg-slategrey white"

          (click)="onClickLogin()">
                  <i *ngIf="loading" class='fa fa-spinner fa-pulse'></i>
                  로그인
                </button>
        </div>
        <hr class="my-3">
        <div class="text-center">
          아직 {{ app.config.name }} 회원이 아니세요?
        </div>

        <div class="button-signup">
          <button type="button" class="btn btn-block border-0 slategrey"
            style="background-color: transparent;"
            (click)="onClickRegister()">
                  회원 가입 하기
                </button>
        </div>
      </form>
    </div>
  </div>
</div>
