@import './../../theme/variables';
@import './../../theme/mixins';

:host {
    /deep/ .teacher-icon {
        img {
            width: 3em;
            height: auto;
            
        }
    }

    /deep/ .popover {
        font-size: 1.3em;
        .popover-title {
            background-color: rgba( 0, 0, 0, .8 );
        }
        .popover-data {
            
            display: block;
            margin: .2em 0;
            padding: .5em;
            border-radius: 0;
            width: 100%;
            background-color: rgba( 255, 255, 255, .5);
        }
        .popover-text {
            margin-bottom: 1em;
        }
        .popover-content {
            padding: 0;
            .comment {
                height: 11em;
                span {
                    height: 10em;
                    display: block;
                    overflow: scroll;
                }    
            }
        }
    }
}


#reservation {
    background-image: url('./../../assets/images/reservation/reservation-2.jpg');
    background-size: cover;

    padding-bottom: 5em;
    @media ( min-width: $md ) {

    padding-bottom: 10em;
    }
}

.text {
    margin: 3em 0 6em;
    padding: 5em 0 3em;
    background-color: rgba( 255, 255, 255, .9 );
    color: #444;
}
h1 {
    margin-bottom: 1em;
}
.class-info {
    font-weight: 100;
    .desc {
        margin-left: 1em; @media (min-width: $sm) { margin-left: 2em; }
    }
    .caption {
        display: inline-block;
        width: 6em;
        text-align: right;
    }
}


.schedule-table {
    th {
        padding: 1em 1.6em;
        background-color: rgba( 0, 0, 0, .5 );
    }
}

.has {
    padding: 1em;
    height: 100%;
    background-color: rgba( 255, 255, 255, .6);
}

.none {
    padding: 1em;
}


.date {
    margin-bottom: 1em;
    padding-top: .3em;
    text-align: center;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: rgba( 0, 0, 0, .6 );
    color: white;
}


.none .date {
    background-color: rgba( 0, 0, 0, .3 );
}


[day='0'],[day='6'] {
    display: none;
}
