@import './../../theme/variables';
@import './../../theme/mixins';

:host {
    /deep/ .teacher-icon {
        img {
            width: 3em;
            height: auto;
            
        }
    }
}


#reservation {
    background-image: url('./../../assets/images/reservation/reservation-2.jpg');
    background-size: cover;

    padding-bottom: 5em;
    @media ( min-width: $md ) {

    padding-bottom: 10em;
    }
}

.text {
    margin: 3em 0 6em;
    padding: 5em 0 3em;
    background-color: rgba( 255, 255, 255, .9 );
    color: #444;
    //@include shadow(.4);
}
h1 {
    margin-bottom: 1em;
    //@include shadow(.4);
}
strong {
    display: inline-block;
    width: 6em;
    text-align: right;
}


.schedule-table {
    th {
        padding: 1em 1.6em;
        background-color: rgba( 0, 0, 0, .5 );
    }
    td {
        
    }
    
}

.has {
    padding: 1em;
    height: 100%;
    background-color: rgba( 255, 255, 255, .6);
}

.none {
    padding: 1em;
}


.date {
    margin-bottom: 1em;
    padding-top: .3em;
    text-align: center;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: rgba( 0, 0, 0, .6 );
    color: white;
}


.none .date {
    background-color: rgba( 0, 0, 0, .3 );
}


[day='0'],[day='6'] {
    display: none;
}
