@import '../../theme/variables';
@import './../../theme/mixins';

$bg-forum: #ffe1bf;
:host {
    /deep/ table {
        td:first-child, th:first-child  {
            width:50%;
        }
        .icons {
            float: right;
            margin: 0 1em;
        }
    }
}
.content-wrapper {
    padding: .4rem 1em 0;
}
.bg-forum {
    background-color: $bg-forum;
}
.color-forum {
    color: #b9690f;
}
.text-forum {
    color: #844703;
}
.header {
    background-color: $bg-forum;
}
.title {
    margin: 0 auto;
    padding: 4em 1em;
    max-width: $lg;
    font-size: 1rem;
    h1 {
        margin-bottom: 1rem;
    }
}


post-list-component {
    display: block;
    min-height: 400px;
}