<section id="forum" class="part">

    <div class="content-wrapper" style="padding-top: 0;">

        <div class="title" style="padding-top: 3rem;">
            <h1 class="pl-5">
                질문과 답변
            </h1>
        </div>
        <div class="bottom" style="overflow:hideen">
            <div class="rounded post-new-button my-1 py-1 px-3 float-right" style="background-color:#e67e22" (click)="onClickPost()">
                <span class="text-white">
                        <i class="fa fa-pencil-square" aria-hidden="true"></i> Post
                    </span>
            </div>
        </div>
        <post-list-component #postListComponent></post-list-component>

    </div>
</section>
