<div class="header mb-2">
    <i class="fa fa-pie-chart"></i>
    <b>{{app.user.info.id}}</b>님의 학업성취도입니다.
</div>

<div class="p-5 bg-white" *ngIf=" loading ">
    <i class="fa fa-spinner fa-spin"></i> 수업 정보를 로드중입니다. 잠시만 기다려주세요.
</div>
<div class="error p-5 bg-white red" [innerHTML]="error" *ngIf="!loading && error"></div>

<ng-container *ngIf=" !loading && !error ">


    <div class="achievement no-gutters">




        <div class="summary row no-gutters mb-sm-3">
            <div class="col-12 col-sm-4 pr-md-1 mb-md-2">
                <div class="p-3" style="background-color: #4a8cef">
                    <div class="icon">
                        <i class="fa fa-area-chart fs-3rem white"></i>
                    </div>
                    <div class="title pl-2">획득 점수</div>
                    <div class="title pl-2"> {{no_of_points|number}}점 / 총{{data['max_score']|number}}점</div>
                </div>
            </div>
            <div class="col-12 col-sm-4 px-md-1 mb-md-2">
                <div class="p-3" style="background-color: #58b854">
                    <div class="icon">
                        <i class="fa fa-bar-chart fs-3rem white"></i>
                    </div>
                    <div class="title pl-2">수행 능력</div>
                    <div class="title pl-2">{{performance_percentage}}%</div>
                </div>
            </div>
            <div class="col-12 col-sm-4 pl-md-1 mb-md-2">
                <div class="p-3" style="background-color: #f5ac40">
                    <div class="icon">
                        <i class="fa fa-line-chart fs-3rem white"></i>
                    </div>
                    <div class="title pl-2">레벨</div>
                    <div class="title pl-2">{{average_level}} (최대 레벨. 9)</div>
                </div>
            </div>
        </div>

        <div class="more-details text-right" (click)=" show['details'] = true " *ngIf=" ! show['details'] ">
            <span class="display-inline-block my-2 p-3 bg-white">
                <i class="fa fa-plus"></i> 자세한 평가 항목 보기
                <i class="fa fa-ellipsis-h"></i>
            </span>
        </div>



        <div class="information row no-gutters mt-3 mb-3" *ngIf=" show['details'] ">
            <div class="information-title w-100">성취도 평가에 대한 자세한 항목입니다.</div>
            <ul class="list-style-none">
                <li class="mb-1">
                    <span>평가 수업</span>
                    <i>마지막 {{data.no_of_classes}}회 수업을 평가</i>
                </li>
                <li class="mb-1">
                    <span>정상 수업</span>
                    <i>{{data.no_of_success}} ({{ data.no_of_success * 100 / data.no_of_classes | number: "1.0-0"}}%)</i>
                </li>
                <li class="mb-1">
                    <span>문제 수업</span>
                    <i>{{data.no_of_failure}} ({{ data.no_of_failure * 100 / data.no_of_classes | number: "1.0-0"}}%)
                            정상적으로 진행되지 않은 수업입니다. 평가에는 포함되지 않습니다.
                    </i>
                </li>
                <li class="mb-1">
                    <span>획득한 점수</span>
                    <i>{{no_of_points | number }} ({{ no_of_points * 100 / no_of_max_points | number: "1.0-0"}}%)</i>
                </li>
                <li class="mb-1">
                    <span>최대 점수</span>
                    <i>{{no_of_max_points | number }}</i>
                </li>
            </ul>
        </div>
        <!--/information-->


        <div class="pieGroup">
            <div class="pie-title mt-5">성취도 평가에 대한 세부 항목별 그래프입니다.</div>
            <div class="pies row no-gutters">
                <div class="col-12 col-md-6 mb-3 pr-sm-4">
                    <div class="title text-center bg-purple white">표현</div>
                    <div class="desc">표현력에서 총 {{data?.no_of_success * 9}}점 중 {{data?.rates?.expression}}점을 획득하였습니다.</div>
                    <div class="pie">
                        <div class="pieContainer">
                            <div class="pieBackground"></div>
                            <div class="hold">
                                <div class="pie bg-purple" [ngStyle]="{'transform': 'rotate(' + expression_percentage*1.2 + 'deg)' }"></div>
                            </div>
                            <div class="hold" [ngStyle]="{'transform': 'rotate(' + (expression_percentage*1.2 - 1) + 'deg)' }">
                                <div class="pie bg-purple" [ngStyle]="{'transform': 'rotate(' + expression_percentage*1.2 + 'deg)' }"></div>
                            </div>
                            <div class="hold" [ngStyle]="{'transform': 'rotate(' + (expression_percentage*1.2*2 - 2) + 'deg)' }">
                                <div class="pie bg-purple" [ngStyle]="{'transform': 'rotate(' + expression_percentage*1.2+2 + 'deg)' }"></div>
                            </div>
                            <div class="innerCircle">
                                <div class="content">
                                    <span class="fs-25rem">{{expression_percentage}}%</span>
                                </div>
                            </div>
                        </div>
                        <div class="pieInformation">
                            <div class="pieTop bg-purple-light">
                                <div class="">획득한 점수</div>
                                <div>{{data?.rates?.expression}}</div>
                            </div>
                            <div class="pieBottom">
                                <div>총 점수</div>
                                <div>{{data?.no_of_success * 9}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-3 pl-sm-4">
                    <div class="title text-center bg-green white">문법</div>
                    <div class="desc">표현력에서 총 {{data?.no_of_success * 9}}점 중 {{data?.rates?.grammar}}점을 획득하였습니다.</div>

                    <div class="pie">
                        <div class="pieContainer">
                            <div class="pieBackground"></div>
                            <div class="hold">
                                <div class="pie bg-green" [ngStyle]="{'transform': 'rotate(' + grammar_percentage*1.2 + 'deg)' }"></div>
                            </div>
                            <div class="hold" [ngStyle]="{'transform': 'rotate(' + (grammar_percentage*1.2 - 1) + 'deg)' }">
                                <div class="pie bg-green" [ngStyle]="{'transform': 'rotate(' + grammar_percentage*1.2 + 'deg)' }"></div>
                            </div>
                            <div class="hold" [ngStyle]="{'transform': 'rotate(' + (grammar_percentage*1.2*2 - 2) + 'deg)' }">
                                <div class="pie bg-green" [ngStyle]="{'transform': 'rotate(' + grammar_percentage*1.2+2 + 'deg)' }"></div>
                            </div>
                            <div class="innerCircle">
                                <div class="content">
                                    <span class="fs-25rem">{{grammar_percentage}}%</span>
                                </div>
                            </div>
                        </div>
                        <div class="pieInformation">
                            <div class="pieTop bg-green-light">
                                <div>획득한 점수</div>
                                <div>{{data?.rates?.grammar}}</div>
                            </div>
                            <div class="pieBottom">
                                <div>총 점수</div>
                                <div>{{data?.no_of_success * 9}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-3 pr-sm-4">
                    <div class="title text-center bg-blue white">발음</div>
                    <div class="desc">표현력에서 총 {{data?.no_of_success * 9}}점 중 {{data?.rates?.pronounciation}}점을 획득하였습니다.</div>

                    <div class="pie">
                        <div class="pieContainer">
                            <div class="pieBackground"></div>
                            <div class="hold">
                                <div class="pie bg-blue" [ngStyle]="{'transform': 'rotate(' + pronounciation_percentage*1.2 + 'deg)' }"></div>
                            </div>
                            <div class="hold" [ngStyle]="{'transform': 'rotate(' + (pronounciation_percentage*1.2 - 1) + 'deg)' }">
                                <div class="pie bg-blue" [ngStyle]="{'transform': 'rotate(' + pronounciation_percentage*1.2 + 'deg)' }"></div>
                            </div>
                            <div class="hold" [ngStyle]="{'transform': 'rotate(' + (pronounciation_percentage*1.2*2 - 2) + 'deg)' }">
                                <div class="pie bg-blue" [ngStyle]="{'transform': 'rotate(' + pronounciation_percentage*1.2+2 + 'deg)' }"></div>
                            </div>
                            <div class="innerCircle">
                                <div class="content">
                                    <span class="fs-25rem">{{pronounciation_percentage}}%</span>
                                </div>
                            </div>
                        </div>
                        <div class="pieInformation">
                            <div class="pieTop bg-blue-light">
                                <div>획득한 점수</div>
                                <div>{{data?.rates?.pronounciation}}</div>
                            </div>
                            <div class="pieBottom">
                                <div>총 점수</div>
                                <div>{{data?.no_of_success * 9}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-3 pl-sm-4">
                    <div class="title text-center bg-orange white">어휘</div>
                    <div class="desc">표현력에서 총 {{data?.no_of_success * 9}}점 중 {{data?.rates?.vocabulary}}점을 획득하였습니다.</div>

                    <div class="pie">
                        <div class="pieContainer">
                            <div class="pieBackground"></div>
                            <div class="hold">
                                <div class="pie bg-orange" [ngStyle]="{'transform': 'rotate(' + vocabulary_percentage*1.2 + 'deg)' }"></div>
                            </div>
                            <div class="hold" [ngStyle]="{'transform': 'rotate(' + (vocabulary_percentage*1.2 - 1) + 'deg)' }">
                                <div class="pie bg-orange" [ngStyle]="{'transform': 'rotate(' + vocabulary_percentage*1.2 + 'deg)' }"></div>
                            </div>
                            <div class="hold" [ngStyle]="{'transform': 'rotate(' + (vocabulary_percentage*1.2*2 - 2) + 'deg)' }">
                                <div class="pie bg-orange" [ngStyle]="{'transform': 'rotate(' + vocabulary_percentage*1.2+2 + 'deg)' }"></div>
                            </div>
                            <div class="innerCircle">
                                <div class="content">
                                    <span class="fs-25rem">{{vocabulary_percentage}}%</span>
                                </div>
                            </div>
                        </div>
                        <div class="pieInformation">
                            <div class="pieTop bg-orange-light">
                                <div>획득한 점수</div>
                                <div>{{data?.rates?.vocabulary}}</div>
                            </div>
                            <div class="pieBottom">
                                <div>총 점수</div>
                                <div>{{data?.no_of_success * 9}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-3 pr-sm-4">
                    <div class="title text-center bg-red white">유창함</div>
                    <div class="desc">표현력에서 총 {{data?.no_of_success * 9}}점 중 {{data?.rates?.speed}}점을 획득하였습니다.</div>

                    <div class="pie">
                        <div class="pieContainer">
                            <div class="pieBackground"></div>
                            <div class="hold">
                                <div class="pie bg-red" [ngStyle]="{'transform': 'rotate(' + speed_percentage*1.2 + 'deg)' }"></div>
                            </div>
                            <div class="hold" [ngStyle]="{'transform': 'rotate(' + (speed_percentage*1.2 - 1) + 'deg)' }">
                                <div class="pie bg-red" [ngStyle]="{'transform': 'rotate(' + speed_percentage*1.2 + 'deg)' }"></div>
                            </div>
                            <div class="hold" [ngStyle]="{'transform': 'rotate(' + (speed_percentage*1.2*2 - 2) + 'deg)' }">
                                <div class="pie bg-red" [ngStyle]="{'transform': 'rotate(' + speed_percentage*1.2+2 + 'deg)' }"></div>
                            </div>
                            <div class="innerCircle">
                                <div class="content">
                                    <span class="fs-25rem">{{speed_percentage}}%</span>
                                </div>
                            </div>
                        </div>
                        <div class="pieInformation">
                            <div class="pieTop bg-red-light">
                                <div>획득한 점수</div>
                                <div>{{data?.rates?.speed}}</div>
                            </div>
                            <div class="pieBottom">
                                <div>총 점수</div>
                                <div>{{data?.no_of_success * 9}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/pieGroup-->

        <div class="footer mt-3 text-center">
            <b>{{app.user.info.id}}</b>님의 현재 레벨은
            <b>{{average_level}}</b> 입니다. 조금만 더 분발해 주세요 ^^.
        </div>
    </div>

</ng-container>
