<div class="header text px-1">
    <i class="fa fa-flag"></i>
    <b>{{app.user.info.id}}</b>님의 학업 성취도입니다. 처음 수업과 마지막 수업을 비교합니다.
</div>


<div class="p-5 bg-white" *ngIf=" loading ">
    <i class="fa fa-spinner fa-spin"></i> 수업 정보를 로드중입니다. 잠시만 기다려주세요.
</div>
<div class="error p-5 bg-white red" [innerHTML]="error" *ngIf="!loading && error"></div>

<ng-container *ngIf=" !loading && !error ">



    <div class="row mx-1 my-3 py-3 bg-white">


        <div class="photo col-sm-4 text-center">
            <h5 class="title mb-md-4">첫 수업 강사</h5>
            <ul class="list-style-none mb-3">
                <li *ngIf="last_class.icon">
                    <img src="{{first_class.icon}}" style="max-width: 100%">
                </li>
                <li>
                    <div class="text mt-2">Teacher {{first_class.teacher?.mb_nick}}</div>
                </li>
            </ul>
        </div>
        <div class="col-sm-8">
            <h5 class="title text-center mt-5 mt-sm-0">학업 성취도 결과</h5>


            <div class="row px-3">
                <div class="col-12 col-md-6 mb-4">
                    <div class="sub-title text-center p-2">첫 수업과과 마지막 수업의 그래프 비교</div>
                    <div class="leveltest-graph text">
                        <div class="graph-line">
                            <div class="graph-col">
                                <div class="caption">표현</div>
                                <span *ngIf="!single" class="line bg-grey leveltest-line-{{first_class?.rate_expression}}">
                                    <p>{{first_class?.rate_expression}}</p>
                                </span>
                                <span class="line2 bg-purple leveltest-line-{{last_class?.rate_expression}}" [class.single]="single">
                                    <p>{{last_class?.rate_expression}}</p>
                                </span>
                            </div>
                            <div class="graph-col">
                                <div class="caption">속도</div>
                                <span *ngIf="!single" class="line bg-grey leveltest-line-{{first_class?.rate_speed}}">
                                    <p>{{first_class?.rate_speed}}</p>
                                </span>
                                <span class="line2 bg-red leveltest-line-{{last_class?.rate_speed}}" [class.single]="single">
                                    <p>{{last_class?.rate_speed}}</p>
                                </span>
                            </div>
                            <div class="graph-col">
                                <div class="caption">문법</div>
                                <span *ngIf="!single" class="line bg-grey leveltest-line-{{first_class?.rate_grammar}}">
                                    <p>{{first_class?.rate_grammar}}</p>
                                </span>
                                <span class="line2 bg-green leveltest-line-{{last_class?.rate_grammar}}" [class.single]="single">
                                    <p>{{last_class?.rate_grammar}}</p>
                                </span>
                            </div>
                            <div class="graph-col">
                                <div class="caption">어휘</div>
                                <span *ngIf="!single" class="line bg-grey leveltest-line-{{first_class?.rate_vocabulary}}">
                                    <p>{{first_class?.rate_vocabulary}}</p>
                                </span>
                                <span class="line2 bg-skyblue leveltest-line-{{last_class?.rate_vocabulary}}" [class.single]="single">
                                    <p>{{last_class?.rate_vocabulary}}</p>
                                </span>
                            </div>
                            <div class="graph-col">
                                <div class="caption">발음</div>
                                <span *ngIf="!single" class="line bg-grey leveltest-line-{{first_class?.rate_pronounciation}}">
                                    <p>{{first_class?.rate_pronounciation}}</p>
                                </span>
                                <span class="line2 bg-orange leveltest-line-{{last_class?.rate_pronounciation}}" [class.single]="single">
                                    <p>{{last_class?.rate_pronounciation}}</p>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="leveltest-rank">
                        <div>
                            <p>9</p>
                        </div>
                        <div>
                            <p>8</p>
                        </div>
                        <div>
                            <p>7</p>
                        </div>
                        <div>
                            <p>6</p>
                        </div>
                        <div>
                            <p>5</p>
                        </div>
                        <div>
                            <p>4</p>
                        </div>
                        <div>
                            <p>3</p>
                        </div>
                        <div>
                            <p>2</p>
                        </div>
                        <div>
                            <p>1</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6">


                    <div class="text mt-md-2 text-center text-md-left">
                        <div class="mb-3">첫 수업 날짜/시간:
                            <br>{{first_class?.kdate}} {{first_class?.class_begin}} {{first_class?.mins}} 분
                        </div>
                        <div class="graph-info mt-3 mt-md-0 mb-2">
                            <table border="0">
                                <tr>
                                    <td>항목</td>
                                    <td>
                                        첫수업 점수
                                    </td>
                                    <td *ngIf="!single">현재 점수</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="info px-3 px-sm-0 pr-sm-2">
                                            <i class="fa fa-square purple"></i> 표현</span>
                                    </td>
                                    <td>{{first_class?.rate_expression}}0점</td>
                                    <td *ngIf="!single">{{last_class?.rate_expression}}0점</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="info px-3 px-sm-0 pr-sm-2">
                                            <i class="fa fa-square red"></i> 말하는속도</span>
                                    </td>
                                    <td>{{first_class?.rate_speed}}0점</td>
                                    <td *ngIf="!single">{{last_class?.rate_speed}}0점</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="info px-3 px-sm-0 pr-sm-2">
                                            <i class="fa fa-square green"></i> 문법</span>
                                    </td>
                                    <td>{{first_class?.rate_grammar}}0점</td>
                                    <td *ngIf="!single">{{last_class?.rate_grammar}}0점</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="info px-3 px-sm-0 pr-sm-2">
                                            <i class="fa fa-square skyblue"></i> 어휘</span>
                                    </td>
                                    <td>{{first_class?.rate_vocabulary}}0점</td>
                                    <td *ngIf="!single">{{last_class?.rate_vocabulary}}0점</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="info px-3 px-sm-0 pr-sm-2">
                                            <i class="fa fa-square orange"></i> 발음</span>
                                    </td>
                                    <td>{{first_class?.rate_pronounciation}}0점</td>
                                    <td *ngIf="!single">{{last_class?.rate_pronounciation}}0점</td>
                                </tr>
                            </table>

                        </div>
                    </div>


                </div>

            </div>


        </div>
    </div>

    <div class="text px-1">
        <div class="mb-1">첫 수업 선생님의 코멘트</div>
        <div class="p-3 bg-white">
            {{first_class?.rate_comment}}
        </div>
    </div>

</ng-container>
