<div class="login-modal">


  <div class="modal-header">

      <h5 class="modal-title">
        <font class="modal-title">Forgot Password</font>
      </h5>
      <button type="button" class="close" aria-hidden="true" (click)="onClickDismiss()">
        <span aria-hidden="true">×</span>
      </button>
      
  </div>
  
    <div class="modal-body">
      <div class="form-container"> 
        <form>
            <div>
            <p class="form-title">Forgot Password.</p>
            </div>
            <div class="form-group row">
                <label for="email" class="col-md-2 col-form-label">email</label>
                <div class="col-md-10">
                    <input [(ngModel)]="email" name="email" type="email" class="form-control form-control-sm" placeholder="Email Address">
                </div>
            </div>

              <!--<p class="info">
                Still not a member in Video English ?
              </p>-->
              <div  class="button-signup">
                <button type="button"class="btn btn-warning form-control" (click)="onClickResetPassword()">
                  Reset Password
                </button>
              </div>
        </form>
      </div> 
    </div>

</div>