<section id="contact" class="part">
    <div class="my-banner">
        <img src="assets/img/contact.jpg">
        <span class="img-text">
            <span class="how text">전화</span>
            <span class="what text">카카오톡</span>
            <span class="why text">답변</span>
            <span class="who text">게시판</span>
        </span>
        <div class="banner-info">
            <font class="level">도움말</font>
            <font class="desc">
                전화: 070-7893-1741
                <br>
                카카오톡: thruthesky2
            </font>
        </div>
    </div>
    <contact-information-component></contact-information-component>
    <contact-form-component></contact-form-component>
</section>