<small-header-component  *ngIf=" app.widthSize == 'small' "
                         (logout)="onClickLogout()"
                         (onLogin)="onClickLogin()"
                         (register)="onClickRegister()"
                         (profile)="onClickUpdateProfile()"
></small-header-component>
<big-header-component *ngIf=" app.widthSize == 'big' "
                      (logout)="onClickLogout()"
                      (onLogin)="onClickLogin()"
                      (register)="onClickRegister()"
                      (profile)="onClickUpdateProfile()"
                      (myPage)="onClickMyPage()"
></big-header-component>

