<div class="forum-post-modal">
    <div class="modal-header">
        <h5 class="modal-title">
            <span class="modal-title">질문 등록</span>
        </h5>
        <button type="button" class="close" aria-hidden="true" (click)="onClickDismiss()">
            <span aria-hidden="true">×</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="form-container">
                <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" novalidate>
                    <file-form-component [files]=" files " [form]="formGroup"></file-form-component>
                    <div class="input-group">
                        <input style="border: 1px solid #dfdbdb;" validate-onblur  formControlName="title"  name="title" type="text" class="form-control form-control-sm" placeholder="Title">
                    </div>
                    <small class="form-text text-muted my-2">Please enter a title</small>
                    <div class="input-group">
                        <textarea style="border: 1px solid #dfdbdb;" validate-onblur  formControlName="content"  name="content" class="form-control form-control-sm" id="content" placeholder="Content" rows="3"></textarea>
                    </div>
                    <small class="form-text text-muted my-2">Please enter a content.</small>
                    <div *ngIf="!user.logged" class="input-group">
                        <input style="border: 1px solid #dfdbdb;" validate-onblur  formControlName="password"  name="password" type="text" class="form-control form-control-sm" placeholder="Password">
                    </div>
                    <small class="form-text text-muted my-2">Please enter a Password.</small>
                    <div class="row">
                        <div class="col-md-12 post" ><button type="button"class="input-group btn form-control white" style="background-color:#8fa3ad" (click)="onSubmit()">Post</button></div>
                    </div>
                    <hr/>
                </form>
            </div>
    </div>
</div>