<div class="my-banner">
    <img src="assets/img/reservation.jpg">
    <div class="banner-info">
        <font class="level">MyClass</font>
        <font class="desc" *ngIf="share && share.class_info">
            <strong>첫 수업:</strong>      {{share.class_info?.first_class}} <br>
            <strong>예약된 수업:</strong>  {{share.class_info?.no_of_past}}<br>
            <strong>다음 수업:</strong>    {{share.class_info?.no_of_reservation}}
            <strong>지난 수업:</strong>    {{share.class_info?.next_class}}<br>
        </font>
        <font class="desc" *ngIf="share && !share.class_info">
            <strong>No Class Information</strong>
            
        </font>
    </div>
</div>