<section id="intro" class="part text-center bg-white">
    <div class="text">
        <div class="title hidden-sm-up">굿톡이 좋은 이유</div>
        <div class="title hidden-xs-down">굿톡 화상영어를 선택하는 이유</div>
        <div class="fs-1rem">
            영어 학원 왔다 갔다 한시간. 그룹 수업시간 내내 1분도 영어로 말 못해!<br> 10년을 해도 안되는 비 효율적인 방식을 계속 고집하겠습니까?
            <span *ngIf="!showMoreText" class="hidden-sm-up" (click)="showMoreText=!showMoreText">
                더보기...
            </span>
            <span [class.hidden-xs-down]="!showMoreText">
                굿톡 화상영어는 인터넷만 되면 언제 어디서든 수업을 할 수 있으며
                영어 학원이나 동영상 시청 강의와는 틀리게
                일대일 맞춤식 수업이라 학생이 부족한 부분을 집중적으로 관리 해 드리며
                수업시간 내내 영어로 말할 수 있어 말하기 능력을 획기적으로 높여드립니다. 
            </span>
        </div>
    </div>

        <img class="w-100 py-4" src="assets/img/intro.png">

        <div class="row">
            <div class="col-md-3">
                    <img src="assets/img/intro1.png">
                    
                <div class="title">인터넷만 되면 OK!</div>
                <div class="desc">컴퓨터, 태블릿, 핸드폰 상관없이 수업 가능.</div>
            </div>
            <div class="col-md-3">
                
                    <img src="assets/img/intro2.png">
                    
                <div class="title">언제든지!</div>
                <div class="desc">일대일 맞춤 수업이어서 학생이 원하는 시간에 가능.</div>
            </div>
            <div class="col-md-3">
                
                    <img src="assets/img/intro3.png">
                    
                <div class="title">어디든지!</div>
                <div class="desc">자동차, 전철, 휴게실 등 어디서든 수업.</div>
            </div>
            <div class="col-md-3">
                <div class="img-icon ">
                    <img src="assets/img/intro4.png">
                </div>
                <div class="title">맞춤식 수업!</div>
                <div class="desc">학생 위주의 수업. 부족한 부분을 집중 관리.</div>
            </div>
        </div>
        
</section>