<section id="intro" class="part">
    <!--<div class="intro-container">   
        <img src="assets/img/intro.png">
    </div>-->
    <div class="intro-container">
        <div class="info-title">화상영어를 선택하는 이유</div>
        <div class="info-text">
            인터넷만 되면 언제 어디서든 수업을 할 수 있는 화상영어는<br>
            왔다 갔다 1시간 이상 소요되지만 대화는 1분도 못하는 학원 수업과는 달리 일대일 화상영어는 맞춤식 수업이라 1시간 내내 대화하며 학생이 부족한 부분을 집중적으로 관리 할 수 있어 듣고 말하기에 탁월한 효과가 있습니다.
        </div>
        <div class="intro-img">
            <img src="assets/img/intro.png">
        </div>
        <div class="row intro-content">
            <div class="col-md-3 inner-intro">
                <div class="img-icon">
                    <img src="assets/img/intro1.jpg">
                </div>
                <div class="title">인터넷만 되면 OK!</div>
                <div class="desc">컴퓨터, 태블릿, 핸드폰 상관없이 수업 가능.</div>
            </div>
            <div class="col-md-3 inner-intro">
                <div class="img-icon">
                    <img src="assets/img/intro2.jpg">
                </div>
                <div class="title">언제든지!</div>
                <div class="desc">일대일 맞춤 수업이어서 학생이 원하는 시간에 가능.</div>
            </div>
            <div class="col-md-3 inner-intro">
                <div class="img-icon">
                    <img src="assets/img/intro3.jpg">
                </div>
                <div class="title">어디든지!</div>
                <div class="desc">자동차, 전철, 휴게실 등 어디서든 수업.</div>
            </div>
            <div class="col-md-3 inner-intro">
                <div class="img-icon ">
                    <img src="assets/img/intro4.jpg">
                </div>
                <div class="title">맞춤식 수업!</div>
                <div class="desc">학생 위주의 수업. 부족한 부분을 집중 관리.</div>
            </div>
        </div>
    </div>
</section>