<section id="footer" class="part">
    <footer>
        <div class="copyright" style="border-top: 1px solid #dbd7d7; background-color: #fbfbfb;">
            <div class="content-wrapper container">
                <div class="row">
                    <div class="logo-picture col-12 col-md-3">
                        <img class="pointer" (click)="onClickPanelMenu('intro')" src="/assets/images/logo/logo24.png">
                    </div>

                    <div class="address col-12 col-md-7 text-center">
                        <div [innerHTML]="app.config.copyright_line1"></div>
                        <div [innerHTML]="app.config.copyright_line2"></div>
                        <div [innerHTML]="app.config.copyright_line3"></div>
                    </div>

                        <div class="col-12 col-md-2 top-icon">
                            <div class="fa-stack fa-lg pointer">
                                <i class="fa fa-circle fa-stack-2x grey" aria-hidden="true"></i>
                                <i class="fa fa-arrow-up fa-stack-1x fa-inverse" aria-hidden="true" (click)="onClickPanelMenu('intro')"></i>
                            </div>
                            <div>TOP</div>
                        </div>
                </div>
            </div>
            <div class="bottom" style="background-color: #c0c0c0; color: #fff;">
                {{ app.config.copyright_line4 }}
            </div>
        </div>
    </footer>
</section>