

#footer.part .content-wrapper {
    padding-bottom: 2.5em!important;
}
.copyright {

    .container {
        text-align: center;
    }

    .logo-picture {
        margin: 1em 0 2em; @media (min-width: $md) { margin-top: 0; }
        img {
            width: 180px;
        }
        
    }


    .address {
        margin-bottom: 2em;
        width: 100%;
        line-height: 180%;
        font-size:.85rem;
        text-align: center;
        @media(min-width:$maxbreakpoint) {
            text-align: left;
            width: auto;
        }
    }
    

    .bottom {
        padding: 3em;
        width: 100%;
        font-size: 1em; 
        text-align: center;
    }
}
