<div class="login-modal">


  <div class="modal-header">

      <h5 class="modal-title">
        <font class="modal-title">Find ID</font>
      </h5>
      <button type="button" class="close" aria-hidden="true" (click)="onClickDismiss()">
        <span aria-hidden="true">×</span>
      </button>
      
  </div>
  
    <div class="modal-body">
      <div class="form-container"> 
        <form>
            <div>
            <p class="form-title">Find ID</p>

            <div *ngIf="loading && !id" class="in-page-loading"><i class="fa fa-cog fa-spin"></i> Loading ...</div>            
            <div class="form-group row">
                <label for="id" class="col-md-2 col-form-label">ID: </label>
                <div class="col-md-10">
                    <input name="text" value="{{ id }}" type="id" class="form-control form-control-sm" disabled >
                </div>

            </div>

            
            </div>
            <div class="form-group row">
                <label for="email" class="col-md-2 col-form-label">email</label>
                <div class="col-md-10">
                    <input [(ngModel)]="email" name="email" type="email" class="form-control form-control-sm" placeholder="Email Address" >
                </div>
                
            </div>
            


              <div  class="button-signup">
                <button type="button"class="btn btn-warning form-control" (click)="onClickFindID()">
                  Find ID
                </button>
              </div>
        </form>
      </div> 
    </div>

</div>