@import './../../theme/variables';
//Variables
// $padding-books: .8em;
// $padding-big-books: 1.2em;
// layout of small curriclum-component
:host {
    display: block;
    background-repeat: no-repeat;
    background-image: url("/assets/img/course.jpg");
    background-color: slategrey;
}

.desc {
    height: 12em;
    overflow: hidden;
    font-size: 13px;
    @media ( min-width: $md ) {
        height: 10em;
        font-size: 14px;
    }
}



// .curriculum-container {
//     padding-top:2em;
//     padding-bottom: 2em;
//     .row {
//         margin:auto;
//     } 
//     .collection {
//         margin-left:auto;
//         margin-right:auto;
//         padding-left: $padding-books;
//         width: 98%;
//         max-width: 980px;
//         background-color: #ededed;
//         overflow: hidden;
//     }
// }

// // layout of big curriclum-component
// :host-context(.big) .curriculum-container {
//     .collection {
//         padding-left: $padding-big-books;
//     }
//     .inner-row {
//         margin: $padding-big-books $padding-big-books 0 0;
//     }   
// }
// // eo layout of big curriculum-component

// //Curriculum Design
// .curriculum-container {
//     .info-text {
//         margin: 0 auto 1em;
//         padding: .5em 1em;
//         text-align: center;
//         font-size: 2.2em;
//         max-width: 425px;
//         width: 100%;
//         background-color: rgba(255,255,255,.75);
//         color: #334353;
//     }
//     .more-text {
//         margin:0 auto;
//         margin-bottom: 3.125em;
//         max-width: 200px;
//         width: 100%; 
//         background-color: #F46516;
//         color: #FFFFFF;
//         text-align: center;
//         span {
//             display: inline-block;
//             padding: 0.9em 1.3em;
//             font-size: 1.3em;
//             letter-spacing: 0.2em;
//             cursor: pointer;
//             text-decoration: none;
//         }
//     }
//      .collection .mybook {
//         padding: 0;
//     }
//     .collection .inner-row {
//         margin: $padding-books $padding-books 0 0;
//         height: 27em;
//         text-align: left;
//         overflow-y: hidden;
//         background-color: #fff;
//         .book-image {
//             margin-bottom: 1.6em;
//             width: 100%;
//         }
//         .title {
//             margin-bottom: 1.1em;
//             padding: 0 0.8em;
//             font-size: .99em;
//             color: #2b2b2b;
//         }
//         .desc {
//             padding: 0 0.8em;
//             margin-bottom: 1.5em;
//             height: 9.7em;
//             font-size: 0.95em;
//             color: #838383;
//         }
//     }
//     .collection .load {
//         margin: .8em 0;
//         .load-more {
//             margin-right: $padding-books;
//             padding: 0.875em 1.25em;
//             font-size: 1em;
//             letter-spacing: 0.1875em;
//             background-color: #3498db;
//             color: #FFFFFF;
//             text-align: center;
//             cursor: pointer;
//         }
//     }
// }