@import './../../../theme/variables';

:host {
    #footer {
        padding: 1em;
        background-color: #4b494f;
        .footer-container {
            margin:0 auto;
            max-width: $lg_breakpoint;
            width: 100%;
            text-align: center;
            .footer-row {
                margin:0;
                padding:0;
            }
            .info {
                margin:0;
                padding:0;
                border-bottom: 1px solid rgba(255,255,255,.1);
            }
          
            .info .title {
                margin: 1em 0;
                font-size: 1.1em;
                font-weight: 500;
                line-height: 1.2;
                color:#eee;
            }
            .info .desc {
                margin-bottom: 1em;
                color:#999;
                font-size: .95em;
            }
            .button span{
                padding: .2em;
                font-size: 1.1em;
                color: #fff;
            }
            .button span:hover {
                cursor: pointer;
                color:#999;
            }
            .copyright {
                border-top: 5px solid rgba(255,255,255,.1);
                padding: 1em;
                color: #999;
            }
        }
    }
}
