<section id="english-news" class="part">
    <div class="p-3 text-center" style="background-color: #1A237E">
        <h2 class="m-0 p-0 white fw-light">추천 영자 신문</h2>
    </div>
    <div class="my-3 text-center fw-light" style="color: #1A237E">
        굿톡에서 추천해드리는 핫! 한 영자신문입니다.
    </div>

    <div class="content-wrapper">
        <div class="row pt-2 pb-5 pb-sm-2">
            <div class="col-sm-6">
                <a href="https://www.voanews.com/p/voastudentu.html/" target="_blank">
                    <h5>1. VOA 미국의 목소리 영어 뉴스</h5>
                    <img class="w-100" src="assets/images/english-news/voa.jpg">
                </a>

            </div>
            <div class="col-sm-6 mt-4 mt-sm-0">
                <a href="http://koreajoongangdaily.joins.com/englishclinic/" target="_blank">
                    <h5>2. 중앙일보 영자신문</h5>
                    <img class="w-100" src="assets/images/english-news/joongang.jpg">
                </a>

            </div>
        </div>

        <div class="row  pt-0 pt-sm-5 pb-5">
            <div class="col-sm-6">
                <a href="http://www.arirang.com/" target="_blank">
                    <h5>3. 아리랑 TV 영어 뉴스</h5>
                    <img class="w-100" src="assets/images/english-news/ariang.jpg">
                </a>
            </div>
            <div class="col-sm-6 mt-4 mt-sm-0">
                <a href="http://english.chosun.com/" target="_blank">
                    <h5>4. 조선일보 영자신문</h5>
                    <img class="w-100" src="assets/images/english-news/chosun.jpg">
                </a>
            </div>
        </div>

    </div>
</section>
