<section id="english-news" class="part">
    <div class="content-wrapper">
        <h2>ENGLISH NEWS</h2>


        <div class="row py-3">
            <div class="col-sm-6">
                <h5>Headlines</h5>
                <ul class="list-style-none">
                    <li>Important Event</li>
                    <li>Important Event</li>
                    <li>Important Event</li>
                    <li>Important Event</li>
                    <li>Important Event</li>
                    <li>Important Event</li>
                    <li>Important Event</li>
                    <li>Important Event</li>
                </ul>

            </div>
            <div class="col-sm-6">
                <h5>Others</h5>
                <ul class="list-style-none">
                    <li>Weather News</li>
                    <li>Sports News</li>
                    <li>Gaming News</li>
                    <li>Politics News</li>
                    <li>Actors News</li>
                    <li>Trending News</li>
                </ul>
            </div>
        </div>

    </div>
</section>
