<section id="inquiry" class="part">
    <div class="my-banner">
        <img src="assets/img/inquiry.jpg">
        <div class="banner-info">
            <font class="level">Forum</font>
            <font class="desc">
                Frm:B1:Banner Description will be place here
            </font>
        </div>
    </div>
    <main id="post-list" class="forum">
        <div class="inquiry-container">
             <div class="post-list-meta">
                <div class="top">
                    <div class="forum-description"><font>This is QnA Forum.</font></div>
                </div>
                <div class="bottom">
                    <div class="post-count"><font><font>Page: 1 / No. </font><font>Of Post: 3</font></font></div>
                    <div class="post-new-button" (click)="onClickPost()">
                        <span>
                            <i class="fa fa-pencil-square" aria-hidden="true"></i> Post
                        </span>
                    </div>
                </div>
            </div>
            <div class="post-list-container">
                <table class="table table-striped table-bordered table-hover">
                    <thead class="table-inverse bg-info">
                        <th>Title</th>
                        <th>Writer</th>
                        <th>Content</th>
                        <!--<th>Date</th>-->
                    </thead>
                    <tbody>

                        <tr *ngFor="let post of postList">
                            <th> {{ post.title }} </th>
                            <td> {{ post.name }} </td>
                            <td> {{ post.content }} </td>
                            <!--<td> {{ post.created }} </td>-->
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--<div class="post-list-container">
                <table class="table table-striped table-bordered table-hover">
                    <thead class="table-inverse bg-info">
                        <th>Title</th>
                        <th>Writer</th>
                        <th>Date</th>
                        <th>Views</th>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Test</th>
                            <td>admin</td>
                            <td>10-12</td>
                            <td>54</td>
                        </tr>
                        <tr>
                            <th>Hello, Teacher.</th>
                            <td>admin</td>
                            <td>08-23</td>
                            <td>94</td>
                        </tr>
                        <tr>
                            <th>QnA (1)</th>
                            <td>admin</td>
                            <td>06-29</td>
                            <td>281</td>
                        </tr>
                    </tbody>
                </table>
            </div>-->
        </div>
       
        <!--<div class="post-list-container">
            <div class="row header">
                <div class="col-6 title"><font>Title</font></div>
                <div class="col-2 author"><font>Writer</font></div>
                <div class="col-2 date"><font>Date</font></div>
                <div class="col-2 no-of-view" title="No. Of Views"><font>Views</font></div>
            </div>
            <div class="row post">
                <div class="col-6 title">
                    <font>Test</font>
                </div>
                <div class="col-2 author">
                    <font>Admin</font>
                </div>
                <div class="col-2 date">
                    <font>10-12</font>
                </div>
                <div class="col-2 no-of-view">
                    <font>53</font>
                </div>
            </div>
            <div class="row post">
                <div class="col-6 title">
                    <font>Hello, Teacher.</font>
                </div>
                <div class="col-2 author">
                    <font>Admin</font>
                </div>
                <div class="col-2 date">
                    <font>08-23</font>
                </div>
                <div class="col-2 no-of-view">
                    <font>94</font>
                </div>
            </div>
            <div class="row post">
                <div class="col-6 title">
                    <font>QnA (1)</font>
                </div>
                <div class="col-2 author">
                    <font>Admin</font>
                </div>
                <div class="col-2 date">
                    <font>06-29</font>
                </div>
                <div class="col-2 no-of-view">
                    <font>281</font>
                </div>
            </div>
        </div>-->
    </main>
</section>