<div class="forum-view-modal" style="font-size: 14px">
  <div class="modal-header bg-7abbfc white">
    <div class="modal-title nanum lh-142857143 fs-140">
      굿톡 레벨테스트 신청
    </div>
    <div class="d-inline-block px-1 pr-md-3 fs-140 text-center">
      <div>학습상담 1599-1449</div>
    </div>
    <div class="d-inline-block px-1 pr-md-3 fs-140 text-center pointer">
      <div>굿톡 바로가기</div>
    </div>
    <button class="pl-0 pl-md-3 close white" type="button" aria-hidden="true" (click)="onClickDismiss()" style="font-size:43px; font-weight: normal; opacity: 1; text-shadow: none;">
      <span class="nanum">×</span>
    </button>
  </div>

  <div class="modal-body bg-white">
    <div class="container-fluid no-gutters p-0">
      <div class="row no-gutters">
        <div class="col-12 col-md-5 pr-0 pr-md-2 mb-3 mb-md-0">
          <table width="100%">
            <tr>
              <td class="pr-5px">
                <div class="form-group mb-15px">
                  <input class="form-control h-40 rounded-0 fs-14px nanum" type="text" [(ngModel)]="name" placeholder="한글이름">
                </div>
              </td>
              <td class="pl-5px">
                <div class="form-group mb-15px">
                  <input class="form-control h-40 rounded-0 fs-14px nanum" type="text" [(ngModel)]="phone" placeholder="전화번호">
                </div>
              </td>
            </tr>

            <tr>
              <td colspan="2">
                <div class="form-group mb-15px">
                  <input class="form-control h-40 rounded-0 fs-14px nanum" type="text" [(ngModel)]="email" placeholder="이메일">
                </div>
              </td>
            </tr>

            <tr>
              <td colspan="2">
                <div class="p-relative" style="border: 1px solid #cacbcc;">
                  <table class="bg-white" width="100%">
                    <tr>
                      <td colspan="2">
                        <div class="p-3 fs-120 c-a5a5a5">예약일시: <span class="c-3d8bf7">{{selectedDay}} {{selectedTime}}</span></div>
                      </td>
                    </tr>
                    <tr>
                      <td width="50%" *ngFor="let day of days">
                        <label class="of-hidden d-block  mb-0">
                          <input class="date-picker" type="radio" name="date" [(ngModel)]="selectedDay" [value]="day.date">
                          <div class="p-2 text-center">{{day.date}} ({{day.day}})</div>
                        </label>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2">
                        <div class="of-hidden" style="max-height: 152px; overflow-y: scroll;">
                          <div class="schedule-tab">
                              <div class="row no-gutters">
                                <label class="set-time p-1 col-4 text-center pointer" *ngFor="let time of times[selectedDay]">
                                  <span class="of-hidden d-inline-block m-0 fs-1rem br-5">
                                    <input type="radio" name="time" [value]="time" [(ngModel)]="selectedTime"
                                           class="time-picker position-hide">
                                    <div class="py-1 px-2 fs-90 pointer">
                                      {{time}}
                                    </div>
                                  </span>
                                </label>
                              </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="2" class="c-a5a5a5 fs-80 pt-3">
                * 무료체험 시간은 상담후 확정됩니다.
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="custom-checkbox">
                  <label class="c-a5a5a5 fs-80 pointer" style="line-height: 22px;">
                    <input class="pointer" [(ngModel)]="agreement" type="checkbox" name="agreement" style="display: inline; padding: 0; height: 20px; width: 20px; vertical-align: bottom;">
                    <span class="ml-2"><strong>개인정보 수집 및 이용</strong>에 동의합니다.</span>
                  </label>
                </div>
              </td>
            </tr>
          </table>
          <div class="alert alert-danger" *ngIf="errorMessage">
            {{errorMessage}}
          </div>
          <div class="text-center">
            <input class="form-input-button mw-100" type="image" (click)="onClickSubmit()" src="assets/images/level-test-form/lt-btn.png">
          </div>
        </div>
        <div class="col-12 col-md-7 pl-0 pl-md-2">
          <h4 class="mt-0 mb-4">지금 바로 무료 레벨테스트를 받아보세요!</h4>
          <!--<img class="mb-3 mw-100" src="assets/images/level-test-form/arrow-steps.jpg">-->
          <h4 class="mt-0 mb-4 d-inline-block pr-2" style="background: linear-gradient(180deg, #ffffff 50%, #ffdd02 50%);">12년간 10만명이 선택한 굿톡</h4>
          <div class="bg-b7dbff pl-3 pr-1 pt-2 pb-3 mb-4" style="background: #b7dbff url('assets/images/level-test-form/icon-hand.jpg') no-repeat 97% 20px;">
            수업시간,강사 무제한 변경가능
            <br><br>
            나만을 위한 1:1 전담 원어민강사
            <br><br>
            기초부터 각종 영어시험대비까지 다양한 교육과정
            <br><br>
            직영교육센터 운영. 엄격한 강사관리
          </div>
          <div class="p-relative py-5 px-5" style="background-color: #9dc3e6;color: #404040">
            <div class="event bg-red white text-center">Event</div>
            <div class="mb-3 fs-120">무료체험수업 3회까지 제공</div>
            <div class="mb-3 fs-120 font-weight-bold">1개월 25분 수업 6만원부터</div>
            <div class="fs-120 font-weight-bold">지금 등록시 최대 45% 할인!</div>
          </div>
          <!--<table width="100%" class="mt-2">-->
            <!--<tbody><tr>-->
              <!--<td></td>-->
              <!--<td class="pl-2"><h4>파워잉글리쉬 수강후기</h4></td>-->
            <!--</tr>-->
            <!--<tr>-->
              <!--<td valign="top"><img src="assets/images/level-test-form/avatar.jpg" alt=""></td>-->
              <!--<td valign="top" class="pl-3">-->
                <!--<div class="chat_box p-2 br-5">-->
                  <!--<p class="c-a5a5a5 fs-80">-->
                    <!--전화수업하다 보면 매일같은 시간에 수업하기 어려운 점이 있는데<br>-->
                    <!--파워잉글리쉬는 홈페이지에서 내맘대로 수업 스케줄이 변경되서<br>-->
                    <!--너무 편리하네요. 셀프스케줄 변경 정말 좋아요 ^^-->
                  <!--</p>-->
                  <!--<h6 class="mb-0">- 이성준 회원님 -</h6>-->
                <!--</div>-->
              <!--</td>-->
            <!--</tr>-->
            <!--</tbody>-->
          <!--</table>-->
        </div>
      </div>
    </div>


  </div>

</div>
