/* You can add global styles to this file, and also import other style files */

@import './theme/variables';



@import './theme/base';
@import './theme/layout';
@import './theme/module';
@import './theme/state';
@import './theme/theme';


@import './theme/mixins';



@import './components/header/components/small-header/small-header';
@import './components/footer/footer';
@import './components/chat/chat';



//    styleUrls: ['small-header.scss']

.modal.toast {
    .modal-dialog {
        .modal-content {
            margin-top: 100px;
            border: 0;
            border-radius: 0;

            background-color: rgba(3, 3, 72, 0.7);
            color: white;

            .fa { color: yellow;}

            .modal-header { display: none; }
            .modal-footer { display: none; }
        }
    }

}

.talkbubble {
  position: relative;
  &:before {
    content:"";
    position: absolute;
    top: 3px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
  }
  &.bubble-left:before {
    right: 100%;
    border-right: 10px solid white;
  }
  &.bubble-right:before {
    left: 100%;
    border-left: 10px solid yellow;
  }
}




