@import '../../theme/variables';

//Variable
$payment_background:white;
//Banner
.my-banner {
    padding-right: 1em;
    position: relative;
    overflow: hidden;
    height: 89px;
    img {
        position: absolute;
        left: -149px;
        width: auto;
        height: 100%;
    }
    @media all and(min-width:380px) {
        height: 100px;
        img {
            left:-165px;
        }
    }
    @media all and(min-width:480px) {
        height: 125px;
        img {
            left:-205px;
        }
    }
    @media all and(min-width:560px) {
        height: 140px;
        img {
            left:-230px;
        }
    }
    @media all and(min-width:600px) {
        height: 160px;
        img {
            left:-265px;
        }
    }
    @media all and(min-width:760px) {
        height: 200px;
        img {
            left:-330px;
        }
    }
    @media all and(min-width:860px) {
        img {
            left:-370px;
        }
    }
    @media all and(min-width:980px) {
        img {
            left:-470px;
        }
    }
    @media all and(min-width:1024px) {
        img {
            left:-445px;
        }
    }
    @media all and(min-width:1280px) {
        img {
            left:-320px;
        }
    }
    @media all and(min-width:1336px) {
        img {
            left:-280px;
        }
    }
    @media all and(min-width:1440px) {
        img {
            left:-240px;
        }
    }
    @media all and(min-width:1680px) {
        img {
            left:-120px;
        }
    }
    @media all and(min-width:1800px) {
        img {
            left:-30px;
        }
    }
    @media all and(min-width:1980px) {
        img {
            left:0px;
        }
    }
    .banner-info {
        position: relative;
        display: block;
        margin:1em auto;
        width: 100%;
        max-width: $lg_breakpoint;
        text-align: right;
        color: #FFFFFF;
        .level {
            display: block;
            margin-bottom: 8px;
            font-size: 18px;
            color: #fff;
        }
        .desc {
            display: inline-block;
            font-size: 14px;
            color: #fff;
        }
        @media all and(min-width:600px) {
            .level {
                font-size:28px;
            }
            .desc {
                font-size:20px;
            }
        }
        @media all and(min-width:800px) {
            .level {
                font-size: 36px;
            }
        }
        @media all and(min-width:980px) {
            .level {
                margin-bottom: 18px;
                font-size: 48px;
            }
            .desc {
                font-size:24px;
            }
        }
    }
    @media(min-width:$xl_breakpoint) {
        padding-right: 0;
    }
}

//Layout for small payment 
.payment-container {
    padding: .5em;
    overflow: auto;
    
    .payment-content .payment-form {
        padding:0 0 1em 1em;
        .content {
            margin:0;
        }
        .content .my-payment {
            padding: 0;
            margin: 0;
        }
        .content .my-payment .cover {
            margin: 1em 1em 0 0;
            min-height: 280px;
            .picture {
                padding: 2em;
                text-align: center;
            }
            .desc {
                font-size: 2em;
                text-align: center;
                height: 45px;
            }
            .items {
                margin:0 auto;
                padding: 1em;
                position: relative;
                display: block;
                width: 100%;
                max-width: 200px;
                overflow: auto;
                .text {
                    display: block;
                    cursor: pointer;
                }
            }
        }
        .content .pay-buttons {
            padding: 0;
            .pay-total {
                margin:1em 1em 0 0;
                padding: .4em;
            }
            .button-total {
                margin:1em 1em 0 0;
                padding: .4em;
            }
        }
    }
}
// layout for big payment
.big .payment-container {
    padding:5em 1em;
     .payment-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 980px;
        width: 100%;
    } 
}

//Payment Attributes
.payment-container {
    background: $payment_background;
    .payment-content {
        background-color: #fff;
        .my-payment .cover {
             background-color: #f5f5f5;
        }
    }
    .content .pay-buttons {
        .pay-total {
            font-size: 1.2em;
            font-family: "Malgun Gothic", serif;
            cursor: pointer;
            text-align: center;
            background-color: #00a0d2;
            color: white;
        }
        .button-total {
            font-size: 1.2em;
            font-family: "Malgun Gothic", serif;
            cursor: pointer;
            text-align: center;
            background-color: #4f160d;
            color: white;
        }
    }
}
