@import './../../theme/variables';
@import './../../theme/mixins';
#payment {
    background-image: url('./../../assets/images/payment/payment-title-background.jpg');
    background-repeat: repeat-x;
    background-size: auto 200px;
    background-position: 60% 0;
        .content-wrapper .title {
            height: 200px;
            color: white;
            background-color: rgba( 222, 222, 222, .4 );

            h1 {
                @include shadow(.4);
            }
            @include shadow(.4);
        }
        
}