@import './../../theme/variables';
@import './../../theme/mixins';
#payment {
    background-image: url('./../../assets/images/payment/payment-title-background.jpg');
    background-repeat: repeat-x;
    background-size: auto 200px;
    background-position: 60% 0;
    .content-wrapper .title {
        color: white;
        background-color: rgba( 1, 1, 1, .4 );

        h1 {
            @include shadow(.4);
        }
        @include shadow(.4);
    }

  .title {
    height: 100%;
    @media ( min-width: $sm ) {
      height: 200px;
    }
    .guide {
      position: relative;
      @media ( min-width: $sm ) {
        position: absolute;
        right: 5px;
        top: 0;
      }
    }
  }



}
