<section id="payment" class="part">
    <div class="my-banner">
        <img src="assets/img/payment.jpg">
        <div class="banner-info">
            <span class="level">수업료 결제</span>
            <span class="desc">무통장 입금 : 국민은행 <br>655-601-04-1644-08 예금주: 송재호</span>
        </div>
    </div>
    <div class="payment-container">
        <div class="payment-content">
            <form class="payment-form">
                <div class=" row content">
                    <div class="col-md-3 col-sm-6 my-payment">
                        <div class="cover">
                            <div class="picture">
                                <img src="assets/img/payment1.png">
                            </div>
                            <div class="desc">
                                수업                        
                            </div>
                            <div class="items">
                                <label for="min_25" class="text">
                                    <input id="min_25" type="radio" name="amount" value="120000">
                                    25분 12만원                            
                                </label>
                                <label for="min_50" class="text">
                                    <input id="min_50" type="radio" name="amount" value="230000">
                                    50분 23만원 ( 5% 할인 )                            
                                </label>
                                또는
                                <label for="input-amount" class="input-amount-text">
                                    수업료 직접 입력                            
                                </label>
                                <input id="input-amount" type="text" name="amount_input" value="0" size="" style="display:none;">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 my-payment">
                        <div class="cover">
                            <div class="picture">
                                <img src="assets/img/payment2.png">
                            </div>
                            <div class="desc">
                                결제 방식                        
                            </div>
                            <div class="items">
                                <label for="onlycardselfnormal" class="text">
                                    <input id="onlycardselfnormal" type="radio" name="method" value="onlycardselfnormal">
                                    카드결제                            
                                </label>
                                <label for="onlyicheselfnormal" class="text">
                                    <input id="onlyicheselfnormal" type="radio" name="method" value="onlyicheselfnormal">
                                    계좌이체                            
                                </label>
                                <label for="onlyvirtualselfnormal" class="text">
                                    <input id="onlyvirtualselfnormal" type="radio" name="method" value="onlyvirtualselfnormal">
                                    1회용 무통장 입금                            
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 my-payment">
                        <div class="cover">
                            <div class="picture">
                                <img src="assets/img/payment3.png">
                            </div>
                            <div class="desc">
                                수업 요일                        
                            </div>
                            <div class="items">
                                <label for="day_5" class="text">
                                    <input id="day_5" type="radio" name="days" value="5" checked="">
                                    주 5 회                            
                                </label>
                                <label for="day_4" class="text">
                                    <input id="day_4" type="radio" name="days" value="4">
                                    주 4 회 ( 5% 할인 )                            
                                </label>
                                <label for="day_3" class="text">
                                    <input id="day_3" type="radio" name="days" value="3">
                                    주 3 회 ( 10% 할인 )                            
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 curriculum  my-payment">
                        <div class="cover">
                            <div class="picture">
                                <img src="assets/img/payment4.png">
                            </div>
                            <div class="desc">
                                과목 선택
                            </div>
                            <div class="items">
                                <label for="Curriculum1" class="text">
                                    <input id="Curriculum1" type="radio" name="curriculum" value="0:Basic English">
                                    Basic English                                
                                </label>
                                <label for="Curriculum2" class="text">
                                    <input id="Curriculum2" type="radio" name="curriculum" value="0:Conversational English">
                                    Conversational English                                
                                </label>
                                <label for="Curriculum3" class="text">
                                    <input id="Curriculum3" type="radio" name="curriculum" value="0:Business English">
                                    Business English                                
                                </label>
                             
                            </div>
                        </div>
                    </div>
                    <nav class="col-sm pay-buttons">
                        <div class="pay-total">수업료 합계: 230,000</div>
                        <div class="button-total">결제하기</div>
                    </nav>
                </div>
                
            </form>
        </div>
    </div>
</section>