@import '../../../../theme/variables';


nav {
    .bottom {
        background: rgba( 0, 0, 0, .88 );
    }
}
.top {
    border-top:.2em solid #006bb6;
    border-bottom: .1em solid #d7d7d7;
}
.top .icons {
    img { width: 28px; }
}
.panel {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition-duration: .3s;
    &.active {
        max-height: 480px;
    }
}


.list-panel-menu {
    .fa-stack {
        font-size: 1em;
        .fa-stack-2x {
            color: #555;
        }
    }
    &>i, &>span, &>small {
        padding-left: .4em;
    }
    .text {
        display: inline-block;
    }
    small {
        color: #888b92;
        font-weight: bold;
        font-style: italic;
    }
    li {

      &:hover {
        background: rgba( 0, 0, 0, .92 );
      }
    }
}