
header-component .small .navbar {
    border-top: 5px solid #44bddf;
    background-color: #ffffff;
    .logo {
        width: 100%;
        height: 100%;
        padding: .5em 0;
    }
    .logo img {
        cursor: pointer;
        display: block;
        margin: 0 auto;
        max-width: 260px;
        height: 60px;
    } //.logo img

    .bottom {
        margin: 0;
        .menu {
            color: #ffffff;
            background-color: #3498db;
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                overflow: auto;
                overflow: hidden;
                li {
                    float: left;
                    padding: 0;
                    cursor: pointer;
                    .text {
                        display: block;
                        padding: .22em .6em .22em 0;
                        font-size: 1.25em;
                    }
                    .icon {
                        display: block;
                        padding: 0 .3em;
                        font-size: 2.375em;
                    }
                }

                    .register, .profile {
                        padding-left: .32em;
                    }
            }
            
        }
        .panel {
            padding: 0;
            max-height: 0;
            overflow: hidden;
            transition-duration: .3s;
            &.active {
                max-height: 450px;
            }
            .menus {
                margin:0;
                padding: 0;
                list-style: none;
                color: #ffffff;
                background-color: #2980b9;
                .menu {
                    padding: .4em 0 .4em .76em;
                    overflow: auto;
                    cursor:pointer;
                    background-color: #2980b9;
                    font {
                        font-size: 1.01rem;
                    }
                    .menu-img {
                        display: block;
                        float: left;
                        i {
                            color: white;
                            &.fa-inverse {
                                color: #15acd7;
                            }
                        }
                    }
                    .text {
                        display: block;
                        float: left;
                        padding: .4em 0 0 .5em;
                        font-size: 1.2em;
                    }
                    &.active {
                        color: #ff0;
                    }
                    &:hover {
                        background-color:#3498db;
                    }
                }
                .menu:first-child {
                    margin-top: .1em; // space between main menu and panel.
                    padding-top: .8em;
                }
                .menu:last-child {
                    padding-bottom: .8em;
                }
            }
        }
    }//.bottom
}
    

