<header class="small">
    <nav class="navbar fixed-top p-0" style="background-color: #f3f3f3;">
        <div class="top">

            <div class="d-flex justify-content-between p-2">
                <div class="icons p-1">

                    <span id="naver_id_login"></span>
                    

                    <span><img (click)="app.onClickLoginWithKakao()" src="assets/img/kakao_btn_small.png"></span>
                    <span (click)="app.onClickLoginWithFacebook()"><img src="assets/img/kkang/f.png"></span>
                    <!--<span (click)="onClickLogin()"><img src="assets/img/kkang/naver-id.png"></span>                    -->

                </div>
                <div class="p-2 fs-130">
                    무료 레벨 테스트
                </div>
            </div>

        </div>
        <div class="bottom bg-white">
            <div class="d-flex justify-content-between p-2 bg-slategrey">
                <div class="logo" (click)="onClickPanelMenu('intro')">
                    <img src="assets/img/logo-1.png" class="ml-1" style="height: 32px;">
                </div>
                <div class="" (click)="onClickMoreMenu()">
                    <i class="icon pointer fa fa-bars fa-2x p-1"></i>
                </div>
            </div>
            <div class="panel" [class.active]="this.more">
                <ul class="menus list-panel-menu fs-120">
                    <li class="menu" *ngIf=" ! user.logged ">
                        
                        Login with: <span (click)="onClickLoginWithNaver()">Naver</span>,
                          <span (click)="app.onClickLoginWithKakaoTalk()">KakaoTalk</span>,
                          <span (click)="app.onClickLoginWithFacebook()">Facebook</span>,
                           <span (click)="onClickLogin()">SiteLogin</span>

                    </li>
                    <li class="menu" *ngIf="! user.logged " (click)="onClickRegister()">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-user-plus fa-stack-1x fa-inverse"></i>
                        </span>
                        <span class="text">회원 가입</span>
                        <small>Register</small>
                    </li>
                    <li class="menu" *ngIf=" user.logged " (click)="onClickUpdateProfile()">
                        <span class="text">회원 정보 변경</span><small>Profile Update</small>
                    </li>
                    <li class="menu" *ngIf=" user.logged " (click)="onClickLogout()">
                        <span class="text">회원 로그아웃</span><small>Logout</small>
                    </li>
                    <li class="menu" [class.active]=" app.scrollId =='curriculum' " (click)="onClickPanelMenu('curriculum')">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-language fa-stack-1x fa-inverse"></i>
                        </span>
                        <span class="text">수업 과정</span>
                        <small>Curriculum</small>
                    </li>
                    <li class="menu" [class.active]=" app.scrollId =='teacher' " (click)="onClickPanelMenu('teacher')">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
                            <i class="fa fa-users fa-stack-1x fa-inverse" aria-hidden="true"></i>
                        </span>
                        <span class="text">영어 선생님 소개</span>
                        <small>English Teachers</small>
                    </li>
                    <li class="menu" [class.active]=" app.scrollId =='level-test' " (click)="onClickPanelMenu('level-test')">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
                            <i class="fa fa-delicious fa-stack-1x fa-inverse" aria-hidden="true"></i>
                        </span>
                        <span class="text">무료 레벨테스트</span>
                        <small>Level Test</small>
                    </li>
                    <li class="menu" [class.active]=" app.scrollId =='comment' " (click)="onClickPanelMenu('comment')">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
                            <i class="fa fa-comments fa-stack-1x fa-inverse" aria-hidden="true"></i>
                        </span>
                        <span class="text">수업 후기</span>
                        <small>Student Comments</small>
                    </li>
                    <li class="menu" [class.active]=" app.scrollId =='reservation' " (click)="onClickPanelMenu('reservation')">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-camera fa-stack-1x"></i>
                            <i class="fa fa-ban fa-stack-2x text-danger"></i>
                        </span>
                        <span class="text">나의 수업 확인</span>
                        <small>My Reservations</small>
                    </li>
                    <li class="menu" [class.active]=" app.scrollId =='payment' " (click)="onClickPanelMenu('payment')">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
                            <i class="fa fa-credit-card fa-stack-1x fa-inverse" aria-hidden="true"></i>
                        </span>
                        <span class="text">수업료</span>
                        <small>Tution Fees</small>
                    </li>
                    <li class="menu" [class.active]=" app.scrollId =='inquiry' " (click)="onClickPanelMenu('inquiry')">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
                            <i class="fa fa-question fa-stack-1x fa-inverse" aria-hidden="true"></i>
                        </span>
                        <span class="text">질문과 답변</span>
                        <small>Q&amp;A Forum</small>
                    </li>
                    <li class="menu" [class.active]=" app.scrollId =='contact' " (click)="onClickPanelMenu('contact')">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
                            <i class="fa fa-address-book fa-stack-1x fa-inverse" aria-hidden="true"></i>
                        </span>
                        <span class="text">연락처</span>
                        <small>Contacts</small>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>