<div class="contact-form">
    <div class="row justify-content-center">
        <h2>상담 내용 작성</h2>
    </div>
    <form>
        <div class="container">
            <div class="row line justify-content-sm-center">
                
                <div class="col-auto"><label for="user_login">이름<span>*</span></label></div>
                <div class="col-auto col-sm-6 text">
                    <input class="form-control" type="text" name="name" maxlength="64" id="name" tabindex="101" placeholder="이름을 입력하십시오.">
                </div>
            </div>

            <div class="row line justify-content-sm-center">
                <div class="col-auto"><label for="user_login">이메일<span>*</span></label></div>
                <div class="col-auto col-sm-6 text">
                    <input class="form-control" type="text" name="email" maxlength="64" id="email" tabindex="101" placeholder="이메일을 입력하십시오.">
                </div>
            </div>

            <div class="row line justify-content-sm-center">
                <div class="col-auto"> <label for="user_login">핸드폰번호</label></div>
                <div class="col-auto col-sm-6 text">
                    <input class="form-control" type="text" name="phone" maxlength="64" id="phone" tabindex="101" placeholder="전화번호를 입력하십시오.">
                </div>
            </div>

            <div class="row line justify-content-sm-center">
                <div class="col-auto"> <label for="user_login">내용<span>*</span></label></div>
                <div class="col-auto col-sm-6 text">
                    <textarea class="form-control" name="message" id="message" tabindex="101" rows="5" placeholder="문의 내용을 입력하십시오."></textarea>
                </div>
            </div>
            
            <div class="row line-submit justify-content-sm-center">
                <div class="col-auto"></div>
                <div class="col-auto col-sm-6 text">
                    <input class="form-control" type="submit" tabindex="121" value="Inquiry Submit">
                </div>
            </div>

        </div>
        
    </form>

</div>