<section id="teacher" class="part bg-lightgrey">

    <div class="movie">
    <video autoplay loop muted>
        <source src="assets/movies/party-2015-3.mp4" type="video/mp4">
    </video>
</div>

    <div class="content-wrapper"
        style="padding-top: 0;"
    >
    <div class="text text-center">
        <h1 class="title fs-3rem">강사 소개</h1>
        <div class="desc">
            <div class="mb-2">원어민 강사라고 해서 학생을 잘 가르키는 것이 아니라 제대로 된 교육을 받은 강사가 잘 가르키는 것입니다.</div>
            <div>{{ app.config.company_name }}에서는 우수한 인재를 모집하여 강사 트레이닝 후 모든 학생이 만족하는 수업을 진행하고 있습니다.</div>
        </div>
</div>

        <div class="container">

            <div *ngIf="teachers" class="row">
                <div class="d-inline-block col-sm-6 col-lg-4 mt-5" *ngFor=" let teacher of teachers; let i = index">
                    <div class="mx-auto mw-12 mh-12 rounded-circle of-hidden b-white" style="border-width: 3px;">
                        <img class="w-100" src="{{ lms.url }}/{{ teacher.photo }}">
                    </div>
                    <h3 class="my-3 text-center">
                        {{ teacher.id }}
                    </h3>

                    <table class="fs-1rem">
                        <tr>
                            <td>나이</td>
                            <td>{{ teacher.age }} 세</td>
                        </tr>
                        <tr>
                            <td class="w-25">경력</td>
                            <td>{{ teacher.teaching_year }} years</td>
                        </tr>
                        <tr valign="top">
                            <td>전공</td>
                            <td>
                                <div class="h-3 of-hidden" [class.h-auto]=" teacher.show_more_greeting " [class.of-auto]=" teacher.show_more_greeting ">
                                    {{ teacher.major }}
                                </div>
                            </td>
                        </tr>
                    </table>

                    <div class="my-3" (click)="teacher.show_more_greeting = ! teacher.show_more_greeting">
                        <div class="of-hidden" [class.mh-auto]=" teacher.show_more_greeting " [class.teacher-greeting]=" !teacher.show_more_greeting "  [innerHTML]=" teacher.greeting "></div>
                        <div *ngIf="!teacher.show_more_greeting">... show more</div>
                        <div *ngIf="teacher.show_more_greeting">... hide</div>

                    </div>
                    <div *ngIf="!teacher.url_youtube" class="youtube-wrapper">
                        <div>
                            <img [src]="teacher.img_youtube" class="mw-100">
                        </div>
                    </div>
                    <div *ngIf="teacher.url_youtube" class="youtube-wrapper">
                        <div *ngIf="!teacher.play_video" (click)="teacher.play_video = true" class="p-relative text-center">
                            <img [src]="teacher.img_youtube" class="mw-100">
                            <i class="p-absolute b-block t-50 l-50 fs-3rem fa fa-play-circle" style="margin-top: -1.5rem; margin-left: -1.5rem; color: #ce1515;"
                                aria-hidden="true"></i>
                        </div>
                        <div *ngIf="teacher.play_video" class="youtube-player">
                            <object>
                        <param name="movie" [value]='teacher.url_youtube'/>
                        <embed class="youtube-video" [src]='teacher.url_youtube'  type="text/html" />
                    </object>
                        </div>
                    </div>
                </div>
            </div>

            <div class="load mt-4 text-center" (click)="onClickShowMore()">
                <div class="load-more p-3 bg-slategrey white">
                    <div *ngIf="showMore">감추기</div>
                    <div *ngIf="!showMore">더 보기</div>
                </div>
            </div>
        </div>

    </div>
</section>
