@import '../../theme/variables';

:host {
    display: block;
    padding:.5em 0;
    background-color: #384252;
    .teacher-container {
        position: relative;
        max-width: 980px;
        margin: 0 auto;
    
    
    }
    .title {
        padding: 1em;
        text-align: center;
        color: white;
    }

    .load {
        clear: both;
        padding: 0;
        .load-more {
            margin: 2em;
            margin-left:auto;
            margin-right:auto;
            border-radius: 0.1875em;
            padding: 0.875em 1.25em;
            width: 100%;
            max-width: 980px;
            font-size: 1em;
            letter-spacing: 0.1875em;
            color: #FFFFFF;
            background-color: #3498db;
            text-align: center;
            cursor: pointer;
        }
    }


}

//Teachers
.teachers {
    .teacher {
        margin: 2em 0 0;
        padding:0 0 2em 0;
        text-align: center;
        

        .teacher-info {

            margin-bottom: .8em;

        }
        .photo {
            overflow: hidden;
            position: relative;
            display: inline-block;
            height: 9.6rem;
            width: 9.6rem;
            border: .2rem solid #ffffff;
            border-radius: 100%;
            
        }
        .photo img {
            width: 150px;
            height: auto;
        }
        .id {
            margin-bottom: .2em;
            font-size: 1.5rem;
            color: #FFFFFF;
            &:first-letter {
                text-transform: uppercase;
            }
        }
        .greeting {
            cursor: pointer;
            .text {
                height: 4rem;
                overflow: hidden;
                font-size: .9rem;
            }
            .more {
                padding-right: 1.6em;
                text-align: right;
                font-size: 1em;
                color: #e9e9e9;
            }
            &.more {
                .text {
                    height: auto;
                    overflow: auto;
                }
                .more {
                    display: none;
                }
            }
        }
        .text {
            padding: 0 1em;
            margin-bottom: .1em;
            text-align: left;
            font-size: .9rem;
            color: #FFFFFF;
            .caption {
                display: inline-block;
                width: 4.8em;
            }
            &.major {
                height: 3em;
                overflow: hidden;
            }
        }

        .youtube-wrapper {
            margin-top: 1em;
            display: inline-block;
            width:100%;
        }
    
        .youtube-player {
            embed {
                width:100%;
            }
        }
        .youtube-default-photo {
            position: relative;
            width: 100%;
            height: 150px;
            overflow: hidden;
            img {
                width: 100%;
                height: auto;
            }
            cursor: pointer;
            .play {
                position: absolute;
                margin: 0 auto;
                left: 10%;
                bottom: 30%;
                i {
                    color: rgba(255, 0, 0, 0.55);
                    font-size: 4em;
                }
                
            }
        }
        .youtube-default-photo:hover {
            i {
                color: #d00000;
            }
           
        }
    }
}
@media all and(min-width:$sm_breakpoint) {
    .teachers {
        .teacher {
            float: left;
        }
    }
}